<section class="auth-footer">
  <p>Primeaxisllc &copy; 2019</p>
</section>



<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
<script type="text/babel" src="/"></script>
</body>
</html>
