

<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">
    <link rel='stylesheet' href='/css/general.css' />
    <link rel='stylesheet' href='/css/auth.css' />


    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  
 </head>
 <body>

   <div class="navbar header">
     <a href="/" class="logo-cont">
       <img class="logo" src="/images/logo.png" alt="">
     </a>
     <nav>
       <ul class="header-nav">
         <li><a href="/login">Login</a></li>
         <li class="ml-4"><a href="/register">Register</a></li>
       </ul>
     </nav>
   </div>
