<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%=title%></title>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/home.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/images/favicon.png" />
  <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
  <style media="screen">
    .card-body{
      max-width:400px;
    }
    .email-confirm-svg{
      width:105px;
      height:105px;
    }
  </style>
</head>

<body>

 <div class="row" style="margin-top:40px">
   <div class="card card-statistics m-auto">
     <div class="card-body text-center ">
          <h2>Account Verified!</h2>
          <div class="">
            <img src="/images/svg/email-verified.svg" class='email-confirm-svg grid-margin' alt="">
          </div>
          <div class="">
            <p>All set,your account has been verified successfully.</p>
            <p>Take me to my <a href='/account/summary'>my dashboard</a></p>
          </div>


     </div>
   </div>
 </div>





  <script type="text/javascript" src='/javascripts/addscript.js'></script>

  </body>

  </html>
