<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%=title%></title>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/home.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/images/favicon.png" />
  <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
  <style media="screen">
     body{
       font-family:"Work sans",sans-serif !important;
     }
    .card-body{
      max-width:400px;
    }
    .email-confirm-svg{
      width:105px;
      height:105px;
    }
  </style>
</head>

<body>

 <div class="row" style="margin-top:40px">
   <div class="card card-statistics m-auto">
     <div class="card-body text-center ">
          <h2>Confirm your Account</h2>
          <div class="">
            <img src="/images/svg/email-confirm.svg" class='email-confirm-svg grid-margin' alt="">
          </div>
          <div class="">
            <p>Check your email for the verifcation link sent to</p>
            <p class="text-accent"><%=user.email%></p>
            <p>After receiving email,click the link provided to complete your registeration.</p>
          </div>

          <div class="row tex-center ">
            <p class="w-100">Not in inbox or span folder? <a href="#" id="resendConfirmationLink">Resend</a></p>
            <p class="w-100">or <a href="/account/logout" >Logout</a></p>
          </div>
     </div>
   </div>
 </div>





  <script type="text/javascript" src='/javascripts/home.js'></script>

  </body>

  </html>
