<%-include('../admin/header');-%>
<%-include('../admin/nav');-%>

<div class="row grid-margin">
  <div class="card card-statistics w-100">
    <div class="card-body">
      <p class="grid-margin">GOLD PLAN FOR DAILY INTERESET</p>
      <div class="row">
        <div class=" col-12 col-md-3 grid-margin">
          <label for="">Amount</label>
          <input type="text" name="" value="" class="form-control">
        </div>
        <div class=" col-12 col-md-3 grid-margin">
          <label for="">Amount</label>
          <input type="text" name="" value="" class="form-control">
        </div>

        <div class=" col-12 col-md-3 grid-margin d-flex align-items-end">
          <button type="button" class="btn btn-success" name="button">Credit</button>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="row grid-margin">
  <div class="card card-statistics w-100">
    <div class="card-body">
      <p class="grid-margin">DIAMOND PLAN FOR DAILY INTERESET</p>
      <div class="row">
        <div class=" col-12 col-md-3 grid-margin">
          <label for="">Amount</label>
          <input type="text" name="" value="" class="form-control">
        </div>
        <div class=" col-12 col-md-3 grid-margin">
          <label for="">Percentage</label>
          <input type="text" name="" value="" class="form-control">
        </div>

        <div class=" col-12 col-md-3 grid-margin d-flex align-items-end">
          <button type="button" class="btn btn-success" name="button">Credit</button>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="row grid-margin">
  <div class="card card-statistics w-100">
    <div class="card-body">
      <p class="grid-margin">PLATINUM PLAN FOR DAILY INTERESET</p>
      <div class="row">
        <div class=" col-12 col-md-3 grid-margin">
          <label for="">Amount</label>
          <input type="text" name="" value="" class="form-control">
        </div>
        <div class=" col-12 col-md-3 grid-margin">
          <label for="">Percentage</label>
          <input type="text" name="" value="" class="form-control">
        </div>

        <div class=" col-12 col-md-3 grid-margin d-flex align-items-end">
          <button type="button" class="btn btn-success" name="button">Credit</button>
        </div>

      </div>

    </div>
  </div>
</div>

<%-include('../account/footer');-%>
