<%-include('../admin/header');-%>
<%-include('../admin/nav');-%>

<div class="row grid-margin">
  <div class="card card-statistics w-100">
    <div class="card-body">

      <p>You are not on any investment package.</p>
    </div>
  </div>
</div>

<%-include('../account/footer');-%>
