.header{
  height:72px;
  background-color:$color-primary;
  padding:20px;
}


.logo{

}

.logo-img{
  width:34px;
  height:34px;
}


//==============for navigation =====================//
.nav{
  background-color:$color-primary;
  height:100%;
  width:250px;
  padding:0 30px 0  20px;
  text-transform:uppercase;
  top:0;
  left:0;
  border-left:1px solid #749dca;

  transform:translateX(-250px);
}

.nav-divider{
  margin:40px 0 ;
  border-bottom:1px solid #fff;
}
.nav-list{
  margin-bottom:20px;
}
.nav-link{
  font-weight:$font-weight-normal;
  color:#fff;
  display:block;
}
@supports(height:100vh){
  .nav{
    height:100vh;
  }
}


//================for hamburger==================

.hamburger{
  padding:10px;
  width: 84px;
  height: 36px;
  border-radius: 18px;
  border: 2px solid #fff;
  order:-1;
}
.burger-cont{
  width:15px;
  margin-right:5px;
  // position: relative;
}
.burger1,.burger2,.burger3{
  display: block;
  width: 15px;
  height: 2px;
  margin-bottom: 3px;
  border-radius: 1px;
  background-color: #fff;
  transition:.1s ease-in-out;
}

.hamburger-text{
  font-size:13px;
  color:#fff;
}

.change.burger1,.change.burger2{
  position: absolute;
  transform:rotate(-45deg);
}

.change.burger3{
  position: absolute;
  transform:rotate(45deg);
}

.btn{
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;

position: relative;
cursor: pointer;
display:flex;
justify-content: center;
align-items: center;
overflow: hidden;
user-select: none;
-webkit-tap-highlight-color: transparent;
vertical-align: middle;
z-index: 1;
transition: .3s ease-out;
border: none;
height: 36px;
line-height: 36px;
padding: 0 16px;
text-transform: uppercase;
font-size:14px;
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.nav-list.signupforfree{
  left: 20px;
  bottom: 10%;

  a{
    width: 192px;
    height: 48px ;
    border-radius: 24px !important;
  }
}




.translate{
  transform:translateX(250px);
}
