<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap-reboot.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"> 
    <link rel='stylesheet' href='/stylesheets/account-style.css' />
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous">

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js"></script>
  </head>
  <header class="header d-flex align-items-center">
    <span class="burger js-burger d-flex justify-content-center align-items-center flex-column pointer mr-auto">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </span>

    <div class="actions d-flex">
      <div class="action-cont">
        <a href=""><img src="/images/svg/notification.svg" alt="" class="dash-notificaton"></a>
      </div>
      <div class="action-cont" >
        <a href=""><img src="/images/svg/refresh.svg" alt="" class="dash-refresh"></a>
      </div>
      <div class="action-cont">
        <a href=""><img src="/images/svg/information.svg" alt="" class="dash-information"></a>
      </div>
      <div class="action-cont">
        <a href=""><img src="/images/svg/power.svg" alt="" class="dash-power"></a>
      </div>
    </div>
  </header>
  <nav class="nav p-absolute">
    <div class="">
      <ul class="nav-sec">
        <li class="nav-sec-list">
          <a class="nav-sec-link" href="#">
            <span class="mr-20"><img src="/images/svg/home.svg " class="dash-home" alt=""></span>
            <span >Dashboard</span>
          </a>
        </li>

        <li class="nav-sec-list">
          <a class="nav-sec-link" href="#">
            <span class="mr-20"><img src="/images/svg/home.svg " class="dash-home" alt=""></span>
            <span >Dashboard</span>
          </a>
        </li>

        <li class="nav-sec-list">
          <a class="nav-sec-link" href="#">
            <span class="mr-20"><img src="/images/svg/invest.svg " class="dash-invest" alt=""></span>
            <span >Invest</span>
          </a>
        </li>

        <li class="nav-sec-list">
          <a class="nav-sec-link" href="#">
            <span class="mr-20"><img src="/images/svg/withdrawal.svg " class="dash-withdrawal" alt=""></span>
            <span >Withdraw</span>
          </a>
        </li>


        <li class="nav-sec-list">
          <a class="nav-sec-link" href="#">
            <span class="mr-20"><img src="/images/svg/users.svg " class="dash-referral" alt=""></span>
            <span >Referrals</span>
          </a>
        </li>


        <li class="nav-sec-list">
          <a class="nav-sec-link" href="#">
            <span class="mr-20"><img src="/images/svg/settings.svg " class="dash-settings" alt=""></span>
            <span >Settings</span>
          </a>
        </li>

      </ul>
    </div>


  </nav>
  <script src="/javascripts/dashboard.js"></script>
</body>
</html>
