<%-include('../account/header');-%>
<%-include('../account/nav');-%>


<%if(investment.investment_status == 'inactive' && investment.investment_type==null ){%>
    <div class="row grid-margin">
      <div class="card card-statistics w-100 text-center">
        <div class="card-body">
          <h4>Choose an investment package.</h4>

        </div>
      </div>
    </div>
    <div class="row grid-margin">
      <div class=" col-xs-12 col-md-6 col-lg-4 grid-margin">
        <div class=" card card-statistics">
          <div class="card-body">
            <div class="">
              <h4 class="text-center">Gold</h4>
              <div class="">
                <p class="clearfix">
                  <span class="float-left">Minimum</span>
                  <span class="float-right">$1,000.00</span>
                </p>
                <div class="dropdown-divider"></div>
                <p class="clearfix">
                  <span class="float-left">Maximum</span>
                  <span class="float-right">$10,000.00</span>
                </p>
                <div class="dropdown-divider"></div>
                <p class="clearfix">
                  <span class="float-left">Withdrawal</span>
                  <span class="float-right">Once every 2 weeks</span>
                </p>
                <div class="">
                  <input type="hidden" class="plan-title" error-message="Amount should be equal or between $1,000.00 and $10,000.00" name="gold-plan" value="Gold plan">
                  <input type="hidden" class="" name="" value="">
                  <button type="button"  name="button"  class="btn apply-plan btn-success w-100">Apply
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-xs-12 col-md-6 col-lg-4 grid-margin">
        <div class=" card card-statistics">
          <div class="card-body">
            <div class="">
              <h4 class="text-center">Diamond</h4>
              <div class="">
                <p class="clearfix">
                  <span class="float-left">Minimum</span>
                  <span class="float-right">$11,000.00</span>
                </p>
                <div class="dropdown-divider"></div>
                <p class="clearfix">
                  <span class="float-left">Maximum</span>
                  <span class="float-right">$50,000.00</span>
                </p>
                <div class="dropdown-divider"></div>
                <p class="clearfix">
                  <span class="float-left">Withdrawal</span>
                  <span class="float-right">Once a month</span>
                </p>
                <div class="">
                  <input type="hidden" class="plan-title" error-message="Minimum amount must be $10,000.00" name="diamond-plan" value="Diamond plan">
                  <input type="hidden" class="" name="" value="">
                  <button type="button"  name="button"  class="btn apply-plan btn-success w-100">Apply
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class=" col-xs-12 col-md-6 col-lg-4 grid-margin">
        <div class=" card card-statistics">
          <div class="card-body">
            <div class="">
              <h4 class="text-center">Platinum</h4>
              <div class="">
                <p class="clearfix">
                  <span class="float-left">Minimum</span>
                  <span class="float-right">$50,000.00</span>
                </p>
                <div class="dropdown-divider"></div>
                <p class="clearfix">
                  <span class="float-left">Maximum</span>
                  <span class="float-right">No limit</span>
                </p>
                <div class="dropdown-divider"></div>
                <p class="clearfix">
                  <span class="float-left">Withdrawal</span>
                  <span class="float-right">Once every 3 months</span>
                </p>
                <div class="dropdown-divider"></div>
                <div class="">
                  <input type="hidden" class="plan-title" error-message="Minimum amount must be $1000.00" name="platinum-plan" value="Platinum plan">
                  <input type="hidden" class="" name="" value="">
                  <button type="button"  name="button"  class="btn apply-plan btn-success w-100">Apply
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="plan-modal-container">

    </div>


<%}else if(investment.investment_status=='pending' && investment.investment_type){%>


<div class="row grid-margin">
  <div class="card card-statistics">
    <div class="card-body">
       <h3 class='grid-margin'>GOLD PLAN</h3>
       <div class="dropdown-divider"></div>
        <p class="">Status</p>
       <div class="d-flex">
        <span class="status status-pending mr-2"></span>
         <p class="text-pending">Pending</p>
       </div>

    </div>

  </div>
</div>
<div class="row">
  <div class="card card-statistics">
    <div class="card-body">
      <p>Your investment plan will be active as soon as your investment principal is settled (Your bank tranfers it into our account) </p>
    </div>

  </div>
</div>
<%}else if(investment.investment_status == 'active' && investment.investment_type){%>
  <div class="row grid-margin">
    <div class="card card-statistics">
      <div class="card-body">
         <h3 class='grid-margin'>GOLD PLAN</h3>
         <div class="dropdown-divider"></div>
          <p class="">Status</p>
         <div class="d-flex">
          <span class="status status-active mr-2"></span>
           <p class="text-active">Active</p>
         </div>

      </div>

    </div>
  </div>

<%}%>
<%-include('../account/footer');-%>
