<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <i class="mdi-profile-img mdi mdi-account-circle"></i>
          </div>
          <div class="text-wrapper">
            <p class="profile-name"><%=`${user.firstname} ${user.lastname}`%></p>
          </div>
        </div>

      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/account/summary">
        <i class="menu-icon mdi mdi-view-dashboard"></i>
        <span class="menu-title">Summary</span>
      </a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon mdi mdi-content-copy"></i>
        <span class="menu-title">Investment</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/typography.html">Typography</a>
          </li>
        </ul>
      </div>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" href="/account/investment">
        <i class="menu-icon mdi mdi-finance"></i>
        <span class="menu-title">Investment</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/account/withdraw">
        <i class="menu-icon mdi mdi-cash-multiple"></i>
        <span class="menu-title">Withdraw</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/account/referral">
        <i class="menu-icon mdi mdi-account-multiple"></i>
        <span class="menu-title">Referral</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/account/activity">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">Activity</span>
      </a>
    </li>

    <%# <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="/account/settings" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon mdi mdi-settings"></i>
        <span class="menu-title">Settings</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/samples/login.html"> Login </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/samples/register.html"> Register </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/samples/error-404.html"> 404 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/samples/error-500.html"> 500 </a>
          </li>
        </ul>
      </div>
    </li> %>

    <li class="nav-item logout-nav">
      <a class="nav-link" href="/account/logout">
        <i class="menu-icon mdi mdi-power"></i>
        <span class="menu-title">Logout</span>
      </a>
    </li>
  </ul>
</nav>

<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
