<%- include('../partials/dashboard_header'); -%>
  <!-- <div class="notification-cont p-relative">
    <div class="notification-content ">
      <span class="notification-close-img-cont p-absolute pointer"><img src="/images/svg/settings.svg" alt="" class="notification-close-img"></span>

      <div class="notification-div">
        <p>Notifications</p>
        <div>
          <p>You have no new notifications</p>
        </div>
      </div>
        <a href="" class="notification-link">View all Notifications</a>

    </div>
  </div> -->

  <div class="dashboard-content">
    <div class="box">
      <p>Some box with a content    </p>
    </div>
    <div class="box mt-30">
      <h2>Share your link</h2>
      <p>Copy your personal referral link and share it with your friends and followers.</p>
      <div class="div">
        <p>your referral link</p>
      </div>
    </div>

  </div>
  <script src="/javascripts/dashboard.js"></script>
</body>
</html>
