<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap-reboot.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/account-style.css' />
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous">

    </script>
  </head>
  <header class="header d-flex align-items-center">
    <div class="mr-auto d-flex ">
      <span class="burger js-burger d-flex justify-content-center align-items-center flex-column pointer">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </span>
      <h1 class="d-none logo">PRIMEAXISLLC</h1>
    </div>

    <div class="actions d-flex ">

      <div class="action-cont p-relative">
        <div class="notification-cont p-relative d-none">
          <div class="notification-content p-relative ">
            <span class="notification-close-img-cont p-absolute pointer">&times;</span>

            <div class="notification-div">
              <p>Notifications</p>
              <div>
                <p>You have no new notifications</p>
              </div>
            </div>
              <a href="" class="notification-link">View all Notifications</a>

          </div>
        </div>
        <span class="notification-alert">1</span>
        <a href=""><img src="/images/svg/notification.svg" alt="" class="dash-notificaton"></a>
      </div>
      <div class="action-cont" >
        <a href=""><img src="/images/svg/refresh.svg" alt="" class="dash-refresh"></a>
      </div>
      <div class="action-cont">
        <a href=""><img src="/images/svg/information.svg" alt="" class="dash-information"></a>
      </div>
      <div class="action-cont">
        <a href=""><img src="/images/svg/power.svg" alt="" class="dash-power"></a>
      </div>
    </div>
  </header>
  <nav class="nav p-absolute">
    <div class="">
      <ul class="nav-sec">
        <li class="nav-sec-list">
          <a class="nav-sec-link" href="/account/summary">
            <span class="mr-20"><img src="/images/svg/home.svg " class="dash-home" alt=""></span>
            <span >Summary</span>
          </a>
        </li>

        <li class="nav-sec-list">
          <a class="nav-sec-link" href="/account/investment">
            <span class="mr-20"><img src="/images/svg/home.svg " class="dash-home" alt=""></span>
            <span >Investment</span>
          </a>
        </li>

        <li class="nav-sec-list">
          <a class="nav-sec-link" href="/account/withdraw">
            <span class="mr-20"><img src="/images/svg/invest.svg " class="dash-invest" alt=""></span>
            <span >Withdraw</span>
          </a>
        </li>

        <li class="nav-sec-list">
          <a class="nav-sec-link" href="/account/referral">
            <span class="mr-20"><img src="/images/svg/withdrawal.svg " class="dash-withdrawal" alt=""></span>
            <span >Referral</span>
          </a>
        </li>


        <li class="nav-sec-list">
          <a class="nav-sec-link" href="/account/activity">
            <span class="mr-20"><img src="/images/svg/users.svg " class="dash-referral" alt=""></span>
            <span >Activity</span>
          </a>
        </li>


        <li class="nav-sec-list">
          <a class="nav-sec-link" href="/account/settings">
            <span class="mr-20"><img src="/images/svg/settings.svg " class="dash-settings" alt=""></span>
            <span>Settings</span>
          </a>
        </li>

      </ul>
    </div>


  </nav>
