<%- include('partials/header'); -%>

<div class="container">

  <h1 class="text-center faq-heading">Frequently Asked Questions</h1>

  <div class="p-20">
        <div class="faq-tab">
          <button type="button" name="button" class="faq-tab-btn active tab-btn-investment">Investment Offer</button>
          <button type="button" name="button"  class="faq-tab-btn tab-btn-info">Basic Information</button>
        </div>


       <div class="investment-faq">
           <div class="faqs-cont">
               <h3 class="faq-head">What Investment packages do you offer?</h3>
              <p>
                High profit is ensured by the rapid growth rates of the cryptocurrency market in general and Bitcoin in particular. Our financial risks are
                minimized by diversified investments
                in various activities.
              </p>
         </div>

      </div>

      <div class="information-faq">
         <p>Something for here</p>
      </div>





</div><!--container-->


</div>

<%- include('partials/footer'); -%>
