<%-include('header.ejs')%>

<section class="home-slider owl-carousel">
  <div class="slider-item bread-item" style="background-image: url(images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container-fluid">
      <div class="row slider-text align-items-center justify-content-center" data-scrollax-parent="true">

        <div class="col-md-8 mt-5 text-center col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
          <!-- <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Web Hosting</span></p> -->
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Frequently Asked Questions</h1>
        </div>
      </div>
    </div>
  </div>
</section>






<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h2 class="mb-4">Faqs</h2>
        <p>Anwers to questions commonly asked by our users.</p>
      </div>
    </div>


    <section class="ftco-section">
      <div class="container">

        <div class="row">
          <div class="col-md-12 nav-link-wrap mb-5 pb-md-5 pb-sm-1 ftco-animate">
            <div class="nav ftco-animate nav-pills justify-content-center text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-nextgen-tab" data-toggle="pill" href="#v-pills-nextgen" role="tab" aria-controls="v-pills-nextgen" aria-selected="true">Investment</a>

              <a class="nav-link" id="v-pills-performance-tab" data-toggle="pill" href="#v-pills-performance" role="tab" aria-controls="v-pills-performance" aria-selected="false">Withdrawal</a>

              <a class="nav-link" id="v-pills-effect-tab" data-toggle="pill" href="#v-pills-effect" role="tab" aria-controls="v-pills-effect" aria-selected="false">Basic </a>
            </div>
          </div>
          <div class="col-md-12 align-items-center ftco-animate">

            <div class="tab-content ftco-animate" id="v-pills-tabContent">

              <div class="tab-pane fade show active" id="v-pills-nextgen" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">



                    <div class="row">
                      <div class="col-md-12 ftco-animate">
                        <div id="accordion">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="card">
                                <div class="card-header">
                                  <a class="card-link" data-toggle="collapse"  href="#investOne" aria-expanded="true" aria-controls="investOne">How do I get started with an investment package?<span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                </div>
                                <div id="investOne" class="collapse show">
                                  <div class="card-body">
                                    <p>
                                      After registering an account with us, you are required to choose an investment
                                      package and make payment. Your package will be  activated as soon as possible.</p>
                                  </div>
                                </div>
                              </div>

                              <div class="card">
                                <div class="card-header">
                                  <a class="card-link" data-toggle="collapse"  href="#invest2" aria-expanded="false" aria-controls="invest2">When do I start earning after my package is activated?<span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                </div>
                                <div id="invest2" class="collapse">
                                  <div class="card-body">
                                    <p>
                                      You start earning the next week day. Profits are earned five(5) days in a week, thus Monday - Friday.
                                    </p>
                                  </div>
                                </div>
                              </div>

                              <!-- <div class="card">
                                <div class="card-header">
                                  <a class="card-link" data-toggle="collapse"  href="#invest3" aria-expanded="false" aria-controls="invest3">I have made payment  but my investment  package is still not active? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                </div>
                                <div id="invest3" class="collapse">
                                  <div class="card-body">
                                    <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                                  </div>
                                </div>
                              </div> -->
                            </div>

                            <div class="col-md-6">
                              <div class="card">
                                <div class="card-header">
                                  <a class="card-link" data-toggle="collapse"  href="#invest4" aria-expanded="false" aria-controls="invest4">How much do I earn from referral?<span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                </div>
                                <div id="invest4" class="collapse">
                                  <div class="card-body">
                                    <p>When you refer someone, you earn 3% of the amount he/she invests.</p>
                                  </div>
                                </div>
                              </div>

                              <div class="card">
                                <div class="card-header">
                                  <a class="card-link" data-toggle="collapse"  href="#invest5" aria-expanded="false" aria-controls="invest5">Is there a limit to the number users I can refer?  <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                </div>
                                <div id="invest5" class="collapse">
                                  <div class="card-body">
                                    <p>There is no limit to the number of  uses you can refer</p>
                                  </div>
                                </div>
                              </div>

                              <!-- <div class="card">
                                <div class="card-header">
                                  <a class="card-link" data-toggle="collapse"  href="#invest6" aria-expanded="false" aria-controls="invest6">Is there a limit to the number users I can refer? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                </div>
                                <div id="invest6" class="collapse">
                                  <div class="card-body">
                                    <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                                  </div>
                                </div>
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


              </div>

             <!---Withdrawal Tab pane-->
              <div class="tab-pane fade" id="v-pills-performance" role="tabpanel" aria-labelledby="v-pills-performance-tab">

                    <div class="row">
                      <div class="col-md-12 ftco-animate">
                        <div id="accordion">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="card">
                                <div class="card-header">
                                  <a class="card-link" data-toggle="collapse"  href="#withdraw1" aria-expanded="true" aria-controls="withdraw1">When  do I withdraw profits?<span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                </div>
                                <div id="withdraw1" class="collapse show">
                                  <div class="card-body">
                                    <p>Withdrawal is available every two weeks. After a withdrawal is made , the next withdrawal will be available the following two weeks.</p>
                                  </div>
                                </div>
                              </div>

                              <div class="card">
                                <div class="card-header">
                                  <a class="card-link" data-toggle="collapse"  href="#withdraw2" aria-expanded="false" aria-controls="withdraw2">How do I withdraw profits?<span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                </div>
                                <div id="withdraw2" class="collapse">
                                  <div class="card-body">
                                    <p>When your withdrawal is due, you simply request withdrawal.</p>
                                  </div>
                                </div>
                              </div>

                              <div class="card">
                                <div class="card-header">
                                  <a class="card-link" data-toggle="collapse"  href="#withdraw3" aria-expanded="false" aria-controls="withdraw3">How quickly profit withdrawal are processed?<span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                </div>
                                <div id="withdraw3" class="collapse">
                                  <div class="card-body">
                                    <p>Within 30minutes</p>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="card">
                                <div class="card-header">
                                  <a class="card-link" data-toggle="collapse"  href="#withdraw4" aria-expanded="false" aria-controls="withdraw4">What is the maximum amount of profits I can withdraw?<span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                </div>
                                <div id="withdraw4" class="collapse">
                                  <div class="card-body">
                                    <p>You can withdraw profits equal or lesser than 5% of your total funds.(Principal + Interest)</p>
                                  </div>
                                </div>
                              </div>

                              <div class="card">
                                <div class="card-header">
                                  <a class="card-link" data-toggle="collapse"  href="#withdraw5" aria-expanded="false" aria-controls="withdraw5">What are the payments options of Prime Axis LLC?<span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                </div>
                                <div id="withdraw5" class="collapse">
                                  <div class="card-body">
                                    <p>We pay via bitcoin, bitcoin cash, ethereum and paypal.</p>
                                  </div>
                                </div>
                              </div>

                              <!-- <div class="card">
                                <div class="card-header">
                                  <a class="card-link" data-toggle="collapse"  href="#menu6" aria-expanded="false" aria-controls="menu6">How do I setup URL forwarding? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                </div>
                                <div id="menu6" class="collapse">
                                  <div class="card-body">
                                    <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                                  </div>
                                </div>
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>

              <!---Withdrawal Tab pane ends--->

              <!--Basic information tab begins-->
              <div class="tab-pane fade" id="v-pills-performance" role="tabpanel" aria-labelledby="v-pills-performance-tab">
                <div class="row">
                  <div class="col-md-12 ftco-animate">
                    <div id="accordion">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="card">
                            <div class="card-header">
                              <a class="card-link" data-toggle="collapse"  href="#menuone" aria-expanded="true" aria-controls="menuone">1.	How do I get started with an investment package?<span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                            </div>
                            <div id="menuone" class="collapse show">
                              <div class="card-body">
                                <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                              </div>
                            </div>
                          </div>

                          <div class="card">
                            <div class="card-header">
                              <a class="card-link" data-toggle="collapse"  href="#menutwo" aria-expanded="false" aria-controls="menutwo">How long is my domain name valid? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                            </div>
                            <div id="menutwo" class="collapse">
                              <div class="card-body">
                                <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                              </div>
                            </div>
                          </div>

                          <div class="card">
                            <div class="card-header">
                              <a class="card-link" data-toggle="collapse"  href="#menu3" aria-expanded="false" aria-controls="menu3">Can I sell my domain name? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                            </div>
                            <div id="menu3" class="collapse">
                              <div class="card-body">
                                <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="card">
                            <div class="card-header">
                              <a class="card-link" data-toggle="collapse"  href="#menu4" aria-expanded="false" aria-controls="menu4">Can I cancel a domain? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                            </div>
                            <div id="menu4" class="collapse">
                              <div class="card-body">
                                <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                              </div>
                            </div>
                          </div>

                          <div class="card">
                            <div class="card-header">
                              <a class="card-link" data-toggle="collapse"  href="#menu5" aria-expanded="false" aria-controls="menu5">How do I transfer a domain name? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                            </div>
                            <div id="menu5" class="collapse">
                              <div class="card-body">
                                <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                              </div>
                            </div>
                          </div>

                          <div class="card">
                            <div class="card-header">
                              <a class="card-link" data-toggle="collapse"  href="#menu6" aria-expanded="false" aria-controls="menu6">How do I setup URL forwarding? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                            </div>
                            <div id="menu6" class="collapse">
                              <div class="card-body">
                                <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


          </div>

         <!---Withdrawal Tab pane-->
          <div class="tab-pane fade" id="v-pills-effect" role="tabpanel" aria-labelledby="v-pills-effect-tab">

                <div class="row">
                  <div class="col-md-12 ftco-animate">
                    <div id="accordion">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="card">
                            <div class="card-header">
                              <a class="card-link" data-toggle="collapse"  href="#basicOne" aria-expanded="true" aria-controls="basicOne">What does Prime Axis LLC do?<span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                            </div>
                            <div id="basicOne" class="collapse show">
                              <div class="card-body">
                                <p>Prime Axis LLC is an officially registered company from the UK that participates in the processes of cryptocurrency mining, trade and private currency exchange</p>
                              </div>
                            </div>
                          </div>

                          <div class="card">
                            <div class="card-header">
                              <a class="card-link" data-toggle="collapse"  href="#basicTwo" aria-expanded="false" aria-controls="basicTwo">Why is it profitable for me to cooperate with Prime Axis LLC<span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                            </div>
                            <div id="basicTwo" class="collapse">
                              <div class="card-body">
                                <p>High profit is ensured by the rapid growth rates of the cryptocurrency market in general and Bitcoin in particular. Our financial risks are minimized by diversified investments in various activities.</p>
                              </div>
                            </div>
                          </div>


                        </div>

                        <div class="col-md-6">

                          <div class="card">
                            <div class="card-header">
                              <a class="card-link" data-toggle="collapse"  href="#basicThree" aria-expanded="false" aria-controls="basicThree">What are the risks and guarantees for your customers?<span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                            </div>
                            <div id="basicThree" class="collapse">
                              <div class="card-body">
                                <p>Each investment activity has a certain degree of risk. The higher the potential profit, the higher the risks that you may face. Prime Axis LLC tries to find the best solution to ensure the most acceptable balance between profit and risk. We guarantee the security of funds and the payment of profits in full for our clients.</p>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--Basic infomation tab ends-->
            </div>
          </div>
        </div>
      </div>
    </section>
























  </div>
</section>
<%-include('footer.ejs')%>
