<%- include('partials/header'); -%>

<div class="container">

  <h1 class="text-center faq-heading">Frequently Asked Questions</h1>

  <div class="p-20">
        <div class="faq-tab">
          <button type="button" name="button" class="faq-tab-btn active tab-btn-investment">Investment Offer</button>
          <button type="button" name="button"  class="faq-tab-btn tab-btn-info">Basic Information</button>
        </div>


       <div class="investment-faq">
           <div class="faqs-cont">
               <h3 class="faq-head">How to make a deposit?</h3>
              <p>
              Read the terms of the proposed investment strategy and make
               a deposit to your desired plan. You must send the indicated
               amount from any credit card wire or paypal. The deposit will be credited
                as soon as the funds are settled(received by us);
              </p>
         </div>

         <div class="faqs-cont">
             <h3 class="faq-head">How long does it take to add my deposit to my account?</h3>
            <p>
              The deposit will be credited and will start working as soon as the funds are settled.
               This can take from 1 to 24 hours (in rare cases).
            </p>
       </div>


       <div class="faqs-cont">
           <h3 class="faq-head">What is the minimum and the maximum amounts that I can invest?</h3>
          <p>
            The minimum deposit is only 1000 USD, the maximum deposit is not limited.
          </p>
     </div>

     <div class="faqs-cont">
         <h3 class="faq-head">I sent you money in accordance with the instructions, but they did not appear in my account.</h3>
        <p>
          Do not worry. In this case, you need to contact customer support via email or using the feedback form. Describe your problem and provide us with the following information: your login, deposit amount and transaction details.
        </p>
     </div>

     <div class="faqs-cont">
         <h3 class="faq-head">What is the schedule for my profit accrual?</h3>
        <p>
          In accordance with the investment proposal of the investment plan,
          the profit is accrued every day from the time of adding the
          deposit.
        </p>
     </div>

     <div class="faqs-cont">
         <h3 class="faq-head">How much profit can I withdraw from the system?</h3>
        <p>
          You can withdraw an amount equal or below 30% of your principal or deposit
        </p>
     </div>

     <div class="faqs-cont">
         <h3 class="faq-head">What are the payment systems you operates with?</h3>
        <p>
          Prime Axis LLC pay through bank wire and paypal
        </p>
     </div>

     <div class="faqs-cont">
         <h3 class="faq-head">How quickly profit withdrawal requests are processed?</h3>
        <p>
          All requests for withdrawal of profits are processed within 30 minutes
        </p>
     </div>


      </div><!--investment-faq-->

      <div class="information-faq d-none">

        <div class="faqs-cont">
            <h3 class="faq-head">What does coinxo.com Limited do?</h3>
           <p>
              Prime Axix LLC is an officially registered company from the UK that participates in the processes of cryptocurrency mining, trade and private currency exchange
           </p>
        </div>

        <div class="faqs-cont">
            <h3 class="faq-head">Why is it profitable for me to cooperate with coinxo.com Limited?</h3>
           <p>
             High profit is ensured by the rapid growth rates of the cryptocurrency market in general and Bitcoin in particular. Our financial risks are minimized by diversified investments in various activities.
            </p>
        </div>


        <div class="faqs-cont">
            <h3 class="faq-head">What are the risks and guarantees for your customers?</h3>
           <p>
              Each investment activity has a certain degree of risk. The higher the potential profit, the higher the risks that you may face. coinxo.com Limited tried to find the best solution to ensure the most acceptable balance between profit and risk. We guarantee the security of funds and the payment of profits in full for our clients.
           </p>
        </div>




      </div><!--information faq-->





</div><!--container-->


</div>

<%- include('partials/footer'); -%>
