
    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Prime Axis LLC</h2>
              <p>Join Prime Axis, change your life.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>

          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Navigational</h2>
              <ul class="list-unstyled">
                <li><a href="/" class="py-2 d-block">Home</a></li>
                <li><a href="/about-us" class="py-2 d-block">About Us</a></li>
                <li><a href="/investment-plans" class="py-2 d-block">Investment Plans</a></li>
                <li><a href="/faqs" class="py-2 d-block">Faqs</a></li>
                <li><a href="/contact" class="py-2 d-block">Contact</a></li>
                <li><a href="/login" class="py-2 d-block">Log In</a></li>
                  <li><a href="/register" class="py-2 d-block">Register</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Office</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">1377 EL Camino Drive. Coquitlam, BC. Postal code: V3E 2W6, Coquitlam, British Columbia 1377</span></li>
	                <li><a href="tel:+44 7451 245056"><span class="icon icon-phone"></span><span class="text">+44 7451 245056</span></a></li>
	                <li><a href="mailto:info@primeaxisllc.com"><span class="icon icon-envelope"></span><span class="text">info@primeaxisllc.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Prime Axis LLC
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="/javascripts/home.js"></script>

  </body>
</html>
