<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=title%></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


   <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">
   <link rel="shortcut icon" href="/images/favicon.png">
   <link rel="stylesheet" href="/css/bootstrap.css">
   <link rel="stylesheet" href="/css/general.css">
   <link rel="stylesheet" href="/css/primeaxis.css">
  </head>
  <body>
    <nav class="navbar header align-items-sm-start p-0 ">


          <a href="/" class=" d-inline-block logo navbar-brand">
            <img src="/images/logo.png" alt="">
          </a>

          <div class="burger d-flex flex-column">
            <span class="burger-bar"></span>
            <span class="burger-bar"></span>
            <span class="burger-bar"></span>
          </div>



           <ul class="main-nav">

             <button class="btn bg-transparent main-nav-close">

             </button>
             <div class="main-nav-cont">
               <li class="main-nav-li"><a href="" class="main-nav-link">Home</a></li>
               <li class="main-nav-li"><a href="" class="main-nav-link">About</a></li>
               <li class="main-nav-li"><a href="" class="main-nav-link">Faqs</a></li>
               <li class="main-nav-li"><a href="" class="main-nav-link">Support</a></li>
               <li class="main-nav-li"><a href="" class="main-nav-link">Log In</a></li>
             </div>

             <div class="main-nav-action">
        
               <div class="divide ">
                 <a href="" class=" signup btn btn-primary d-inline-block">Sign Up</a>
               </div>
             </div>
           </ul>







    </nav>
