<%- include('partials/header'); -%>



<%#

        <div class="banner-cont welc-background">


            <div class=" text-white p-relative">
              <div class=" background-text-cont p-absolute p-10">
                  <h3 class="background-head">Join Prime Axis</h3>
                  <p class="background-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                    eaque ipsa quae ab illo inventore
                     veritatis et quasi
                  </p>
                  <a href="/login" class=" capitalize nav-link btn btn-hollow learn-more">Learn More</a>

              </div>
            </div>


        </div>
    </div>
    <div >


    <section class="">
      <p class="section-head ">how it works</p>
      <dl class="text-center p-10 steps">
        <div class="mb-25">
           <img src="/images/svg/register-account.svg" alt="Register account" class='steps-img'>
          <dt class="steps-name">1. Register an Account</dt>
          <dd class="steps-description">
            Become part of this dream by going through
            a simple procedure by giving  us a minimum information about you
          </dd>
        </div>
        <div class="mb-25">
          <img src="/images/svg/invest-with-us.svg" alt="Register account" class='steps-img'>
          <dt class="steps-name">2. Invest With Us</dt>
          <dd class="steps-description">
            Make a deposit with us. You earn base on the investment package
            you opt for. We accept a wide variety of payment methods, paypal,visa,payoneer...

          </dd>
        </div>
        <div class="mb-25">
          <img src="/images/svg/withdraw-your-payment.svg" alt="Register account" class='steps-img'>
          <dt class="steps-name">
            3. Withdraw
          </dt>
          <dd class="steps-description">
            Withdraw.Withdrawals are made instantly by requesting.
            First time investors can only withdraw after two weeks of investing
            with us.
          </dd>
        </div>

     </dl>
    </section>

     <section class="p-20">
        <p class="section-head">investment offers</p>
          <div class="packages-cont d-flex">
             <div class="package-cont">
                <div class="package">
                  <div class="package-title-cont">
                    <p class="package-title text-center">Gold</p>
                  </div>


                  <div class="package-body">
                    <div class="package-row ">
                      <span>Investment Type:</span>
                      <span>Gold</span>
                    </div>

                    <div class="package-row">
                      <span>Minimal Investment</span>
                      <span>$1,000.00</span>
                    </div>

                    <div class="package-row">
                      <span>Maximal Invesment</span>
                      <span>$10,000.00</span>
                    </div>

                    <div class="package-row">
                      <span>Weekly profit</span>
                      <span>6%</span>
                    </div>

                    <div class="package-row">
                      <span>Withdrawal</span>
                      <span>Every two weeks</span>
                    </div>
                    <div class="p-15">
                      <a href="/login" class="btn btn-accent">Get Started</a>
                    </div>
                  </div>
                </div>

            </div> <!--package cont-->

            <div class="package-cont">
               <div class="package">
                 <div class="package-title-cont">
                   <p class="package-title text-center">Gold</p>
                 </div>


                 <div class="package-body">
                   <div class="package-row ">
                     <span>Investment Type:</span>
                     <span>Platinum</span>
                   </div>

                   <div class="package-row">
                     <span>Minimal Investment</span>
                     <span>$1,000.00</span>
                   </div>

                   <div class="package-row">
                     <span>Maximal Invesment</span>
                     <span>No Limit</span>
                   </div>

                   <div class="package-row">
                     <span>Weekly profit</span>
                     <span>7%</span>
                   </div>

                   <div class="package-row">
                     <span>Withdrawal</span>
                     <span>Every month</span>
                   </div>
                   <div class="p-15">
                     <a href="/login" class="btn btn-accent">Get Started</a>
                   </div>
                 </div>
               </div>

           </div><!--package-cont-->

           <div class="package-cont">
              <div class="package">
                <div class="package-title-cont">
                  <p class="package-title text-center">Gold</p>
                </div>


                <div class="package-body">
                  <div class="package-row ">
                    <span>Investment Type:</span>
                    <span>Platinum</span>
                  </div>

                  <div class="package-row">
                    <span>Minimal Investment</span>
                    <span>$1,000.00</span>
                  </div>

                  <div class="package-row">
                    <span>Maximal Invesment</span>
                    <span>No Limit</span>
                  </div>

                  <div class="package-row">
                    <span>Weekly profit</span>
                    <span>8%</span>
                  </div>

                  <div class="package-row">
                    <span>Withdrawal</span>
                    <span>Every three months</span>
                  </div>
                  <div class="p-15">
                    <a href="/login" class="btn btn-accent">Get Started</a>
                  </div>
                </div>
              </div>

          </div><!--package-cont-->


          </div><!---packages-cont-->


     </section><!--investment offers-->


     <section class="p-20"><!--why prime axis-->
        <p class="section-head">investment offers</p>
     </section><!--why prime axis--> %>

<%- include('partials/footer'); -%>
