<%- include('partials/header'); -%>





        <div class="banner-cont welc-background">


            <div class=" text-white p-relative">
              <div class=" background-text-cont p-absolute p-10">
                  <h3 class="background-head">Join Prime Axis</h3>
                  <p class="background-description">
                    Prime Axis LLC is an investment firm based in
                     British Columbia. We are specialized in trading of
                      forex, crypto~currency, CIDs and commodity trading.
                       The firm seeks to help our customers achieve their
                       financial dreams and goals to better their goals..

                  </p>
                  <a href="/register" class=" capitalize nav-link btn btn-hollow learn-more">Get Started</a>

              </div>
            </div>


        </div>
    </div>
    <div >


    <section class="">
      <p class="section-head ">It's Easy!</p>
      <dl class="text-center p-10 steps">
        <div class="mb-25">
           <img src="/images/svg/register-account.svg" alt="Register account" class='steps-img'>
          <dt class="steps-name">1. Register an Account</dt>
          <dd class="steps-description">
            Become part of this dream by going through
            a simple procedure by giving  us a minimum information about you
          </dd>
        </div>
        <div class="mb-25">
          <img src="/images/svg/invest-with-us.svg" alt="Register account" class='steps-img'>
          <dt class="steps-name">2. Invest With Us</dt>
          <dd class="steps-description">
            Make a deposit with us. You earn base on the investment package
            you opt for. We accept a wide variety of payment methods, paypal,visa,payoneer...

          </dd>
        </div>
        <div class="mb-25">
          <img src="/images/svg/withdraw-your-payment.svg" alt="Register account" class='steps-img'>
          <dt class="steps-name">
            3. Withdraw
          </dt>
          <dd class="steps-description">
            Withdraw.Withdrawals are made instantly by requesting.
            First time investors can only withdraw after two weeks of investing
            with us.
          </dd>
        </div>

     </dl>
    </section>

     <section class="p-20">
        <p class="section-head">investment offers</p>
          <div class="packages-cont d-flex">
             <div class="package-cont">
                <div class="package">
                  <div class="package-title-cont">
                    <p class="package-title text-center">Gold</p>
                  </div>


                  <div class="package-body">
                    <div class="package-row ">
                      <span>Investment Type:</span>
                      <span>Gold</span>
                    </div>

                    <div class="package-row">
                      <span>Minimal Investment</span>
                      <span>$1,000.00</span>
                    </div>

                    <div class="package-row">
                      <span>Maximal Invesment</span>
                      <span>$10,000.00</span>
                    </div>

                    <div class="package-row">
                      <span>Weekly profit</span>
                      <span>6%</span>
                    </div>

                    <div class="package-row">
                      <span>Withdrawal</span>
                      <span>Every two weeks</span>
                    </div>
                    <div class="p-15">
                      <a href="/login" class="btn btn-accent">Get Started</a>
                    </div>
                  </div>
                </div>

            </div> <!--package cont-->

            <div class="package-cont">
               <div class="package">
                 <div class="package-title-cont">
                   <p class="package-title text-center">Diamond</p>
                 </div>


                 <div class="package-body">
                   <div class="package-row ">
                     <span>Investment Type:</span>
                     <span>Diamond</span>
                   </div>

                   <div class="package-row">
                     <span>Minimal Investment</span>
                     <span>$11,000.00</span>
                   </div>

                   <div class="package-row">
                     <span>Maximal Invesment</span>
                     <span>$50,000.00</span>
                   </div>

                   <div class="package-row">
                     <span>Weekly profit</span>
                     <span>7%</span>
                   </div>

                   <div class="package-row">
                     <span>Withdrawal</span>
                     <span>Every month</span>
                   </div>
                   <div class="p-15">
                     <a href="/login" class="btn btn-accent">Get Started</a>
                   </div>
                 </div>
               </div>

           </div><!--package-cont-->

           <div class="package-cont">
              <div class="package">
                <div class="package-title-cont">
                  <p class="package-title text-center">Platinum</p>
                </div>


                <div class="package-body">
                  <div class="package-row ">
                    <span>Investment Type:</span>
                    <span>Platinum</span>
                  </div>

                  <div class="package-row">
                    <span>Minimal Investment</span>
                    <span>$50,000.00</span>
                  </div>

                  <div class="package-row">
                    <span>Maximal Invesment</span>
                    <span>No Limit</span>
                  </div>

                  <div class="package-row">
                    <span>Weekly profit</span>
                    <span>8%</span>
                  </div>

                  <div class="package-row">
                    <span>Withdrawal</span>
                    <span>Every three months</span>
                  </div>
                  <div class="p-15">
                    <a href="/login" class="btn btn-accent">Get Started</a>
                  </div>
                </div>
              </div>

          </div><!--package-cont-->


          </div><!---packages-cont-->


     </section ><!--investment offers-->


     <section class="p-20 feature-gradient text-white"><!--why prime axis-->
        <p class="section-head text-white">Why choose us</p>
        <div class="features">
          <div class="feature-cont">
            <div class="feature">
              <div class="feature-img-cont">
                <i class="feature-img mdi mdi-cash">

                </i>

              </div>
              <div class="feature-body">
                <h3 class="feature-head">Progressive daily income</h3>
                <div class="feauture-text">
                  Your daily earnings depend solely on the size of your deposits,
                  the number of which is unlimited. Each of your deposits has its own
                  conditions for calculating profits and does not sum up with the rest.
                </div>
              </div>
            </div>

          </div>


          <div class="feature-cont">
            <div class="feature">
              <div class="feature-img-cont">
                <i class="feature-img mdi mdi-credit-card">

                </i>

              </div>
              <div class="feature-body">
                <h3 class="feature-head">Instant payments</h3>
                <div class="feauture-text">
                  Withdrawal is available on weekly bases, you can use
                  the function to make a withdrawal request. All requests
                   are processed automatically,
                   and money is instantly sent to the details you specify.
                </div>
              </div>
            </div>

          </div>

          <div class="feature-cont">
            <div class="feature">
              <div class="feature-img-cont">
                <i class="feature-img mdi mdi-earth">

                </i>

              </div>
              <div class="feature-body">
                <h3 class="feature-head">Representatives Around the world </h3>
                <div class="feauture-text">
                We have representatives in a number of countries around the world.
                We give investors
                the opportunity to become reps at various locations.
                </div>
              </div>
            </div>

          </div>

          <div class="feature-cont">
            <div class="feature">
              <div class="feature-img-cont">
                <i class="feature-img mdi mdi-security">

                </i>

              </div>
              <div class="feature-body">
                <h3 class="feature-head">Safe and Secure</h3>
                <div class="feauture-text">
                  The company's website is under reliable protection by the leaders
                   of the information security market: daily scanning and timely measures
                   of virus
                  prevention of the website and theft of user’s personal data.
                </div>
              </div>
            </div>

          </div>

          <div class="feature-cont">
            <div class="feature">
              <div class="feature-img-cont">
                <i class="feature-img mdi mdi-headset">

                </i>

              </div>
              <div class="feature-body">
                <h3 class="feature-head">24/7 Customer Support</h3>
                <div class="feauture-text">
                  You can get a full-fledged consultation and the necessary information
                  by contacting any regional representative or customer support on the website
                  through a feedback form in your account, email or online chat
                </div>
              </div>
            </div>

          </div>

          <div class="feature-cont">
            <div class="feature">
              <div class="feature-img-cont">
                <i class="feature-img mdi mdi-cash-multiple">

                </i>

              </div>
              <div class="feature-body">
                <h3 class="feature-head">Earn higher interest </h3>
                <div class="feauture-text">
                Prime Axis gives opportunity to
                you to earn higher returns on investments.
                </div>
              </div>
            </div>

          </div>

        </div>
     </section><!--why prime axis-->
     <section class="interest d-flex justify-content-center align-items-center flex-column">
       <p class="mb-20">Sound Interesting?</p>
         <a href="/register" class="btn btn-accent d-block btn-lg-rounded">Get Started</a>
     </section>
     <section class="market-section">
       <p class="section-head ">Current Market Pricing</p>
       <table>
         <tr>
           <th>#</th>
           <th>Name</th>
           <th>Price</th>
         </tr>
         <tr>
           <td>1</td>
           <td> Bitcoin</td>
           <td> $3,675.45</td>
         </tr>

         <tr>
           <td>2</td>
           <td> Ethereum</td>
           <td> $127.59</td>
         </tr>

         <tr>
           <td>3</td>
           <td> Bitcoin  Cash</td>
           <td> $135.29 	</td>
         </tr>

         <tr>
           <td>4</td>
           <td> Stellar</td>
           <td> $0.106333 	</td>
         </tr>
       </table>

     </section>

<%- include('partials/footer'); -%>
