

<%-include('header.ejs')%>

<section class="intro p-4">
  <div class="intro-desc">
    <h1 class="intro-desc-head text-primary">There's a better way to secure your future.</h1>
    <p class="intro-desc-desc ">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's

    </p>

    <div class="intro-actions">
      <a class="intro-get-started btn btn-primary" href="/login">Get Started</a>
    </div>
  </div
  <div class=" mt-4">

    <img src="images/intro-img.svg"  class="intro-img" alt=""/>

  </div>
</section>



</body>
</html>
<%-include('footer.ejs')%>
