<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap-reboot.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous">

    </script>

  </head>
  <body>

    <div class="banner-cont">


        <div class="welc-background">

        </div>
      
    </div>


    <header class="header d-flex align-items-center p-relative">

      <a href="" class="logo mr-auto ">
        <img src="/images/svg/apple.svg" alt="image of logo" class="logo-img">
      </a>
      <nav class="nav js-nav p-absolute  ">
        <ul class="nav-ul">
            <li class="nav-list"><a href="" class="nav-link">About us</a></li>
            <li class="nav-list"><a href="" class="nav-link">How it works</a></li>
            <li class="nav-list"><a href="" class="nav-link">faqs</a></li>
            <li class="nav-list"><a href="" class="nav-link">login</a></li>

          <div  class="nav-user">
            <li class="nav-list signupforfree x-login p-absolute"><a href="" class=" capitalize nav-link btn btn-hollow ">log in</a></li>
            <li class="nav-list signupforfree p-absolute"><a href="" class=" capitalize nav-link btn btn-hollow ">sign up </a></li>
          </div>
        </ul>
      </nav>

      <ul class=" sublist d-flex ml-auto align-items-center ">
        <li class=""><a href="" class=" btn btn-hollow capitalize">log In</a></li>

      </ul>
      <div class=" hamburger mr-auto js-hamburger d-flex align-items-center justify-content-center pointer">
        <span class="burger-cont">
          <span class="burger1"></span>
          <span class="burger2"></span>
          <span class="burger3"></span>

        </span>
        <span class="hamburger-text">Menu</span>
      </div>




    </header>

  </body>

  <script src="/javascripts/script.js"></script>
</html>
