

<%-include('header.ejs')%>

<section class="intro p-4">
  <div class="intro-desc">
    <h1 class="intro-desc-head section-head text-primary">There's a better way to secure your future.</h1>
    <p class="intro-desc-desc ">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's

    </p>

    <div class="intro-actions">
      <a class="intro-get-started btn btn-primary" href="/login">Get Started</a>
    </div>
  </div
  <div class=" mt-4">

    <img src="images/intro-img.svg"  class="intro-img" alt=""/>

  </div>
</section>

<section class="about p-4">
  <div class="about-desc">
    <h1 class="section-head text-primary">ABOUT US</h1>
    <div class="about-desc-desc">
      <p class="about-desc-head">PRIMEAXISLLC, is an International Investment Company, officially registered in London - UK, address(16 Clerkenwell Road, London, England, EC1M 5PQ), under no. (#12259606).</p>
      <p class="about-desc-p">Prime Axis LLC is an investment firm that specializes in securities trading, commodity trading, CFDs, investment advisory, portfolio management and more. We have the most flexible pricing and the most comprehensive suite of products available.</p>
        <p class="about-desc-p">We specializes in forex trading, securities trading, commodity trading, CFDs, investment advisory, portfolio management and more. We Are A Dynamic Team Of Investment. All you need to do is Enjoy as your Investments Grow daily. You don't require any skill, you will be able to withdraw instantly, earn upto 20% referral commission. Our team have strong strategic trading ability to help your investment grow faster than the bank. Your choice is your furture, start to earn upto 2.5% Daily.</p>
        <p class="about-desc-p">PRIMEAXISLLC investment project is a product of careful preparation work of experts in the field of trading and marketing. Using modern method of doing business and a personal approach to each client, we offer a unique investment model to people who want to earn from a reliable source of stable income. If you find yourself here, you are definitely in search of reliable and profitable investment. Yes, you are just at the right place! Our company offer trust assets management of the highest quality.</p>
    </div>
  </div>
  <div class="about-img">
    <img src="/images/certificate.jpg" class="certificate-img" alt="Certificate of Registration">
  </div>
</section>

<!-- <script>!function(e,t,a){var c=e.head||e.getElementsByTagName("head")[0],n=e.createElement("script");n.async=!0,n.defer=!0, n.type="text/javascript",n.src=t+"/static/js/chat_widget.js?config="+JSON.stringify(a),c.appendChild(n)}(document,"https://app.engati.com",{bot_key:"2fec44de694f47fd",welcome_msg:true,branding_key:"default",server:"https://app.engati.com",e:"p" });</script> -->

</body>
</html>
<%-include('footer.ejs')%>
