<%-include('header.ejs')%>

<section class="home-slider owl-carousel">
  <div class="slider-item bread-item" style="background-image: url(images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container-fluid">
      <div class="row slider-text align-items-center justify-content-center" data-scrollax-parent="true">

        <div class="col-md-8 mt-5 text-center col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
          <!-- <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Web Hosting</span></p> -->
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Contact</h1>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h2 class="mb-4">Investment Plans</h2>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-lg-4 col-md-6 ftco-animate">
        <div class="block-7">
          <div class="text-center">
            <h2 class="heading">Gold</h2>

            <ul class="pricing-text mb-4">
              <li class="d-flex"><strong class="mr-auto">Minimum</strong> <span>$250.00</span></li>
              <li class="d-flex"><strong class="mr-auto">Maximum</strong> <span>$1500.00</span></li>
              <li class="d-flex"><strong class="mr-auto">Weekly Profit</strong> <span>5%</span></li>
              <li class="d-flex"><strong class="mr-auto">Withdrawal</strong> <span>Every two weeks</span></li>

            </ul>
            <a href="/login" class="btn btn-info d-block px-3 py-3 mb-4">Choose Plan</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 ftco-animate">
        <div class="block-7">
          <div class="text-center">
            <h2 class="heading">Diamond</h2>
            <ul class="pricing-text mb-4">
              <li class="d-flex"><strong class="mr-auto">Minimum</strong> <span>$250.00</span></li>
              <li class="d-flex"><strong class="mr-auto">Maximum</strong> <span>$1500.00</span></li>
              <li class="d-flex"><strong class="mr-auto">Weekly Profit</strong> <span>5%</span></li>
              <li class="d-flex"><strong class="mr-auto">Withdrawal</strong> <span>Every two weeks</span></li>

            </ul>
            <a href="/login" class="btn btn-info d-block px-3 py-3 mb-4">Choose Plan</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 ftco-animate">
        <div class="block-7">
          <div class="text-center">
              <h2 class="heading">Diamond</h2>
            <ul class="pricing-text mb-4">
              <li class="d-flex"><strong class="mr-auto">Minimum</strong> <span>$250.00</span></li>
              <li class="d-flex"><strong class="mr-auto">Maximum</strong> <span>$1500.00</span></li>
              <li class="d-flex"><strong class="mr-auto">Weekly Profit</strong> <span>5%</span></li>
              <li class="d-flex"><strong class="mr-auto">Withdrawal</strong> <span>Every two weeks</span></li>

            </ul>
            <a href="/login" class="btn btn-info d-block px-3 py-3 mb-4">Choose Plan</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>







<%-include('footer.ejs')%>
