

<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap-reboot.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous">

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js"></script>


  </head>
  <body class="text-center">
<div class="r-f r-f-form">
   <div class="form-logo-img-cont">
     <img src="/images/logo.png" style="width:60px;height:61.22px" alt="" class="t">
     </div>
   <form class="w-100  p-5 d-in-block form-signin" action="index.html" method="post">

       <div class="r-f-links d-flex align-items-center fieldset">
         <a href="/" class='mr-auto'></a>
         <div class="box-toggle d-flex">
           <a href="/login" class="form-link active mr-15">Login</a>
           <a href="/register" class="form-link ">Sign Up</a>
         </div>
       </div>
       <div class="r-f-cont d-flex flex-column">
         <div class="fieldset">
           <div class="error-div">
           </div>
            <input type="text" name="email" attr-name="email" placeholder="Email Address" value="" class="form-box email">
         </div>
         <div class="fieldset">
           <div class="error-div">
           </div>
          <input type="password" name="password" attr-name="password" value="" placeholder="Password" class="form-box password">
         </div>
         <div class="fieldset p-relative">
            <img src="/images/rasta/form-loader.gif" alt="" class="p-absolute signup-loader d-none">
            <input type="submit" value="Login" class="form-box form-submit signin pointer">
         </div>


         <small><a href="#" class="form-notice mb-20">Forgot your password</a></small>
       </div>

   </form>
    <!--reset password-->
   <div class="password-reset-form-cont d-none" style="">
     <p class='reset-link-notice' style="background-color:yellow;font-size:14px;text-align:left"></p>
     <p style="text-align:left">Please enter the email associated with your account we will send you a reset link to help your reset your password</p>
     <div class="fieldset">
       <div class="error-div">
       </div>
      <input type="text" name="recovery-email"  id="recovery_email" value="" placeholder="Email" class="form-box ">
     </div>
     <div class="fieldset p-relative">

        <input type="submit" value="Reset" class="form-box form-submit reset-link pointer">
     </div>
   </div>
  </div>



    <script src="/javascripts/script.js"></script>
    </body>
  </html>
