

<!DOCTYPE html>
<html class="h-100">
  <head>
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap-reboot.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous">

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js"></script>

  <style>
   *{
     overflow:auto;
   }
  </style>
  </head>
  <body class="d-flex justify-content-center align-items-center h-100">

   <form class="w-100 r-f-form p-5" action="index.html" method="post">
     <div class="r-f">
       <div class="r-f-links d-flex align-items-center fieldset">
         <a href="#" class='mr-auto'>Primeaxis</a>
         <div class="box-toggle d-flex">
           <a href="/login" class="form-link active mr-15">Login</a>
           <a href="/register" class="form-link ">Sign Up</a>
         </div>
       </div>
       <div class="r-f-cont d-flex flex-column">
         <div class="fieldset">
          <input type="text" name="" value="" placeholder="Email Address" class="form-box">
         </div>
         <div class="fieldset">
            <input type="password" name="" value="" placeholder="Password" class="form-box" >
         </div>
         <div class="fieldset">
            <input type="submit" name="" value="Login" class="form-box form-submit">
         </div>
         <div class="fieldset p-relative">
           <img src="/images/rasta/google-oauth.png"  alt="" class="google-img">
           <a href="#" class="form-box justify-content-center form-notice">Log In with Google</a>
         </div>

         <small><a href="#" class="form-notice">Forgot your password</a></small>
       </div>
     </div>
   </form>


    <script src="/javascripts/script.js"></script>
    </body>
  </html>
