<%-include('./auth/header.ejs')%>

   <div class="wrapper">


      <div class="auth-cont">
        <h3 class=" font-weight-bold text-primary auth-head">Welcome Back</h3>
        <p class=" auth-notice"  >New to Prime Axis? <a href="/register">Register</a></p>

        <section class="auth-form-cont" id="login-form">

        </section>

      </div>



   </div><!--Wrapper ends-->
<script type="text/babel" src="/login.js"></script>
<%-include('./auth/footer.ejs')%>
