

<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous">

    </script>

  <style media="screen">
  .centered{
    position:absolute;
    color:#fff;
    width:100% !important;
    top:50%;
    left:50%;
    padding:15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  </style>

  </head>
  <body class="">

   <div class="centered">
         <a  href="/" class="d-flex justify-content-center align-items-center mb-4">
           <img src="/images/logo.png" style="width:60px;height:61.22px" alt="" class="t">
         </a>

         <form class="" action="index.html" method="post">
           <div class="col-md-4 offset-lg-4 pr-md-5">
             <form action="#">
               <div class="form-group">
                 <input type="text" class="form-control " placeholder="Enter Email">
                 <label for="" class="error">Something is cool yeah</label>
               </div>
               <div class="form-group">
                 <input type="password" class="form-control" placeholder="Enter password">
               </div>


               <div class="form-group">
                 <input type="submit" value="Log In" class="btn w-100 btn-orange text-white rad-s py-3 px-5">
               </div>

               <p><a href="#" class="text-muted">Forgot password?</a></p>

               <div class="form-group">
                 <a href="/register" class="btn w-100 btn-muted text-black rad-s py-3 px-5 no-shadow">Register</a>
               </div>

             </form>

           </div>
         </form>
   </div>



    <script src="/javascripts/home.js"></script>
  </body>
  </html>
