<%-include('./auth/header.ejs')%>

   <div class="wrapper">


      <div class="auth-cont">
        <h3 class=" font-weight-bold text-primary auth-head">Welcome To Prime Axis</h3>
        <p class=" auth-notice">Already signed up? <a href="/login">Login</a></p>

        <section class="auth-form-cont" id="register-form">

        </section>

      </div>



   </div><!--Wrapper ends-->

<%-include('./auth/footer.ejs')%>
<script src="/register.js" type="text/babel">

</script>
