<%-include('header.ejs')%>




<section class="ftco-section contact-section ftco-degree-bg pushed-down">
  <div class="container">
    <div class="row d-flex mb-5 contact-info">
      <div class="col-md-12 mb-4">
        <h2 class="h4">Contact Information</h2>
      </div>
      <div class="w-100"></div>
      <!-- <div class="col-md-3">
        <p><span>Address:</span> 1377 EL Camino Drive. Coquitlam, BC. Postal code: V3E 2W6, Coquitlam, British Columbia 1377</p>
      </div> -->
      <div class="col-md-3">
        <p><span>Phone:</span> <a href="tel://1234567920">+44 7451 245056</a></p>
      </div>
      <div class="col-md-3">
        <p><span>Email:</span> <a href="mailto:info@primeaxisllc.com">info@primeaxisllc.com</a></p>
      </div>
      <div class="col-md-3">
        <p><span></span> <a href="#"></a></p>
      </div>
    </div>
    <div class="row block-9">
      <div class="col-md-6 offset-lg-3 pr-md-5">
        <form action="#">
          <div class="form-group">
            <input type="text" class="form-control form" placeholder="Your Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control form" placeholder="Your Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control form" placeholder="Subject">
          </div>
          <div class="form-group">
            <textarea name="" id="" cols="30" rows="7" class="form-control form" placeholder="Message"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
          </div>
        </form>

      </div>

      <div class="col-md-6" id="map"></div>
    </div>
  </div>
</section>











<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<%-include('footer.ejs')%>
