<%- include('partials/header'); -%>

<div class="container">

  <div class="p-20">

    <h1 class=" faq-heading">THE AGREEMENT</h1>

    <h3>Standard of Performance.</h3>
    <p>
      Prime axis LLC shall perform all work to the highest professional standards and in a manner
reasonably satisfactory to The Client. Prime axis LLC hereby undertakes that she shall
follow the highest professional standards in performing all services required hereunder.
    </p>

    <h3>Status as Independent Contractor.</h3>
     <p>
       Prime axis LLC is and shall at all times remain as to The Client, a wholly independent
      contractor. Prime axis LLC shall have no power to incur any debt, obligation, or liability on
      behalf of The Client or otherwise act on behalf of The Client as an agent. Neither the Client
      nor any of its agents shall have control over the conduct of Prime axis or any of her
      employees, except as set forth in this Agreement. Prime axis LLC shall not, at any time, or in
      any manner, represent that she or any of her agents or employees are in any manner
      employees of The Client.

     </p>


    <h3>Confidentiality</h3>
    <p>
      Prime axis LLC, in the course of her duties, may have access to financial, accounting,
statistical, and personal data of the Client. Prime axis undertakes that all data, documents,
discussion, or other information developed or received or provided for performance of this
Agreement are deemed confidential and shall not be disclosed without written authorisation
by The Client. The Client shall grant such authorisation if law requires disclosure.
    </p>

    <h3>Conflict of Interest.</h3>
    <p>Prime axis LLC undertakes that she presently has no interest and shall not acquire any
      interest, direct or indirect, which may be affected by the services to be performed by her
      under this Agreement, or which would conflict in any manner with the performance of its
      services hereunder.</p>

     <p>
       Prime axis LLC further undertakes that, in performance of this Agreement, no person having
        any such interest shall be employed by it.
      </p>


     <p>
       Furthermore, Prime axis LLC shall avoid the appearance of having any interest, which would
conflict in any manner with the performance of its services pursuant to this Agreement.
     </p>


      <h3>Termination.</h3>
       <p>
         The Client shall have the right to terminate the services of Prime axis LLC at any time or for
  any reason upon ninety (90) calendar days written notice to Prime axis LLC. In the event
  that this Agreement is terminated by The Client, and Prime axis LLC shall have no other
claim against The Client by reason of such termination, including, but not limited to, any
claim for compensation. Furthermore, Prime axis reserves the right of terminating this
agreement should any slandering, fraudulent actions and / or unreasonable claims should
be pursued by The Client.
       </p>


       <h3>Suspension.</h3>
       <p>
         The Client may, in writing, order Prime axis LLC to suspend all or any part of her services
          under this Agreement for the convenience of The Client or for work stoppages beyond the
          control of The Client or Prime axis LLC. Subject to the provisions of this Agreement relating
          to termination, a suspension of the work may void this Agreement. In the event that work is
          suspended for a period exceeding 120 days, the schedule and cost for completion of the
          work will be adjusted by mutual consent of the parties.
       </p>
  </div>





</div><!--container-->


</div>

<%- include('partials/footer'); -%>
