<%-include('../partials/header')%>

<link href="/css/bootstrap-datepicker3.min.css" rel="stylesheet">
 <div class="container bg-default">


    <div class="" style="padding:15px">

        <div class="row">

          <div class=" col-md-9 mt-4">
             <p class="section-title">History</p>
          </div>


          <!------ Include the above in your HEAD tag ---------->

          <div class="container-fluid bg-light ">
            <form action="" method="get" class="row align-items-center ">
                                <div class="col-md-3 pt-3">
                                     <div class="form-group ">
                                        <select id="inputState " class="form-control">

                                          <option selected>Earnings</option>

                                        </select>
                                     </div>
                                  </div>

                                  <div class="col-md-3 pt-3">
                                      <div class="form-group">
                                      <input class="fromDatepicker form-control" name="from" placeholder="From" data-date-format="mm/dd/yyyy">
                                      </div>
                                  </div>
                                  <div class="col-md-3 pt-3">
                                      <div class="form-group">
                                      <input class="toDatepicker form-control" name="to" placeholder="To" data-date-format="mm/dd/yyyy">
                                      </div>
                                  </div>
                                  <div class="col-md-3">
                      	           <button type="submit" id="activityBtn" class="btn btn-primary btn-block">Search</button>
                      	        </div>
                            </form>
          </div>




                   </div><!--row-->





        </div><!--row-->

    </div>

 </div>










</div><!--container-->






































<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
 let from =  $('.fromDatepicker').datepicker();
 let to  = $('.toDatepicker').datepicker();
  $("#activityBtn").click(function(e){

    const From = from.val();
    const To   = to.val();

    //=========ajax request========//
    $.ajax({
      method:'get',
      url:'/user/earnings',
      data:{from:From,to:To}
    })
  })
</script>



<%-include('../partials/footer')%>
