<%-include('../partials/header')%>

<style media="screen">
  .form-control{
    overflow:hidden;
  }
</style>
<div class="container bg-default">


  <div class="" style="padding:15px">

    <div class="row">






            <div class="masonry-item col-md-12">
          <div class="bgc-white p-20 bd">

            <div class="mb-4 ">
              <button type="button" name="button" overlay-target="topupprocedure" class="btn btn-primary overlay-btn btn-log">Click to view payment procedure</button>
            </div>
            <div class="mT-30">
              <div class="form-group">
                <p>Bitcoin</p>
                <div class="form-control mb-2">
                1D5oSCUsYRudTifQ6bAirVD1WY6nbjb9Kq  clip
                </div>
                <button type="button" data-clipboard-text="1D5oSCUsYRudTifQ6bAirVD1WY6nbjb9Kq" class=" bitcoin  clip  mT-10 btn btn-info" name="button">Copy</button>
              </div>
              <div class="form-group">
                <p>Bitcon Cash</p>
                <div class="form-control mb-2">
                qrxr8ywqnzgpga2tyhdsapaf7k5hynxx7s8vldpxhy
                </div>
                <button type="button" data-clipboard-text="qrxr8ywqnzgpga2tyhdsapaf7k5hynxx7s8vldpxhy" class=" bitcoin-cash  clip mT-10 btn btn-info" name="button">Copy</button>
              </div>
              <div class="form-group">
                <p>Ethereum</p>
                <div class="form-control mb-2">
                0x14B68DE16280155DAe2E42572CF77A4f67BA636D
                </div>
                <button type="button" data-clipboard-text="0x14B68DE16280155DAe2E42572CF77A4f67BA636D" class=" ethereum  clip mT-10 btn btn-info" name="button">Copy</button>
              </div>
              <div class="form-group ">
                <p>Stellar</p>
                <div class="form-control mb-2" style="overflow:hidden">
                GDTUDBLEPDLR2XMSDALYHWZDA37QLB3PCHBVJDCOCKQBVANESN5I234Y
                </div>
                <button type="button"  data-clipboard-text="GDTUDBLEPDLR2XMSDALYHWZDA37QLB3PCHBVJDCOCKQBVANESN5I234Y" class=" stellar  clip mT-10 btn btn-info" name="button">Copy</button>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>




<style media="screen">
  button{
    width:300px;
  }

  p{
    margin-bottom:5px;
  }
</style>




  <div class="overlay overlay__slide-down" id="topupprocedure">

    <span class="overlay--btn"><%-include('../../dist/images/cancel.svg')%></span>
    <div class="overlay--cont">

      <div class="overlay--body ">
                  <div class="overlay--body__form">
                    <ol class="list list--ordered">
                      <li class="list__item"><strong>Copy</strong> one of the following payment addresses.</li>
                      <li class="list__item"><strong>Transfer</strong> funds you wish to signup with(according to your investment package choice) to the selected address.</li>
                      <li class="list__item">Send an email to <strong>support@primeaxisllc.com</strong></li>
                      <li class="list__item">Email format should be:
                        <p>
                          <strong>Full Name:</strong> "Your full name"<br>
                          <strong>Email:</strong>     "Your Prime Axis email"<br>
                          <strong>Amount:</strong>    "Amount transfered"<br>
                          <strong>Transaction ID:</strong> "Transaction Id of the transaction"
                        </p>
                         </li>

                        <small><strong>Note:</strong>If there is an underpayment for an investment package, you will be contacted to topup or
                              you will receive a refund.
                        </small>

                        </ol>
                  </div>

      </div>

    </div>

  </div>















  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  <script type="text/javascript">

     function uncopy(e){
       const btn = $(e.target);
       $('.clip').not(btn).html('Copy')
     }
     //=========copy crypto currency addresses=====//


     $('.bitcoin').on('click',function(e){
       const clipboard = new ClipboardJS('.bitcoin');
       clipboard.on('success', function(e) {
         $('.bitcoin').html('Copied!');
       });
         uncopy(e);
     })

     $('.bitcoin-cash').on('click',function(e){
       const clipboard = new ClipboardJS('.bitcoin-cash');
       clipboard.on('success', function(e) {
         $('.bitcoin-cash').html('Copied!');
       });
         uncopy(e);
     })

     $('.ethereum').on('click',function(e){
       const clipboard = new ClipboardJS('.ethereum');
       clipboard.on('success', function(e) {
         $('.ethereum').html('Copied!');


       });
       uncopy(e);
     })


     $('.stellar').on('click',function(e){
       const clipboard = new ClipboardJS('.stellar');
       clipboard.on('success', function(e) {
         $('.stellar').html('Copied!');
       });
         uncopy(e);
     })

     function openTopupModal(){
       $("#topupModal").modal()
     }
  </script>
  <%-include('../partials/footer')%>
