<%-include('../partials/header')%>



       <div class="container-fluid dash-content">

         <!-- Page Heading -->
         <div class="d-sm-flex align-items-center justify-content-between mb-4">
           <h1 class="h3 mb-0 text-gray-800">Referral</h1>
           <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
         </div>

         <!-- Content Row -->
         <div class="row">

           <!-- DataTales Example -->
           <div class="card shadow mb-4">
             <div class="card-header py-3">
               <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
             </div>
             <div class="card-body">
               <div class="table-responsive">
                 <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                   <thead>
                     <tr>
                       <th>Referrals</th>
                       <td>People Who Have Signed Up Using Your Link.</td>
                       <th>$0.00</th>

                     </tr>
                   </thead>

                   <tbody>
                     <tr>
                       <th>Earned</th>
                       <td>Amount That Will Be Applied To Your Account Balance.</td>
                       <td>$0.00</td>

                     </tr>
                     <tr>
                       <th>Paid</th>
                       <td>Amount That Has Already Been Applied To Your Account.</td>
                       <td>$0.00</td>

                     </tr>


                   </tbody>
                 </table>
               </div>
             </div>
           </div>

         </div>
         <!--row-->





       </div>
       <!-- /.container-fluid -->

       <%-include('../partials/footer')%>
