.p-0{
  padding:0 !important
}
.btn.btn-accent{
  background-color:$accent-color !important;
  &:hover{
    background-color: #ef6d26 !important;
  }
}
.text-accent{
  color:$accent-color !important;
}

.status{
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.status-pending{
 background-color: #e0e010;
}
.text-pending{
  color:#e0e010
}
.status-active{
  background-color:#12d612;
}
.text-active{
  color:#12d612;
}
.text-accent{
  color:#e0e010;
}
.modal{
  background-color: rgba(0,0,0,.5) !important;
  display:block;
}
@media(min-width:959px){
  .logout-nav{
    display:none !important;
  }
}
.credit-card-loader-cont{
  background-color: #fff;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  display:none;
}
