.p-0{
  padding:0 !important
}
.btn.btn-accent{
  background-color:$accent-color !important;
  &:hover{
    background-color: #ef6d26 !important;
  }
}
.text-accent{
  color:$accent-color !important;
}

.status{
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.status-pending{
 background-color: #e0e010;
}
.text-pending{
  color:#e0e010
}
.status-active{
  background-color:#12d612;
}
.text-active{
  color:#12d612;
}
.text-accent{
  color:#e0e010;
}
.modal{
  background-color: rgba(0,0,0,.5) !important;
  display:block;
}
@media(min-width:959px){
  .logout-nav{
    display:none !important;
  }
}
.credit-card-loader-cont{
  background-color: #fff;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  display:none;
}

.crypto-div{
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  padding: 0 22px;
  height: 34px;
}

.border-black{
  border: 1px solid #000 !important;
}
select{
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 100% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    appearance: none;
    outline-width: 0;
    padding: 5px 20px;
    display: block;
  }

  .unread{background-color:#d8d6d6}

 .shadow{
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
 }

 .pointer{
   cursor:pointer;
 }

#loader{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  z-index:200000;
  display:flex;
  justify-content:center;
  align-items: center;
  background-color:rgba(255,255,255,0.6)
}
