.p-0{
  padding:0 !important
}
.btn.btn-accent{
  background-color:$accent-color !important;
  &:hover{
    background-color: #ef6d26 !important;
  }
}
.modal{
  background-color: rgba(0,0,0,.5) !important;
  display:block;
}
