.header{
  background-color:#ff9c65;
  height:67px;
  padding:20px;
}

.nav{
  padding:30px 20px;
  width:270px;
  height:100%;
  background-color: #efefef;
  overflow-y: scroll;
  transition: transform .3s ease-in-out;
  transform: translateX(-270px);
  @media(min-width:835px){
    transition:none;
    transform:translate(0) !important;
  }

}
.nav-sec-list{
  margin-bottom:28px;
}
.nav-sec-link{
  display:flex;
  align-items: flex-end;
  color:rgb(3, 14, 38);
  &:hover{
    color:#000;
  }
}
.dash-invest,
.dash-referral,
.dash-settings,
.dash-withdrawal,
.dash-home
{
  width:20px;
  height:20px;
}


//=======================for hamburger==========================//
.burger{
  @media(min-width:835px){
    display:none;
  }
}
.bar{
  width: 24px;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
  margin-bottom: 6px;
}

.action-cont{
  margin-right:25px;
  &:last-of-type{
    margin-right:0;
  }
  img{
    height:23px;
  }
}

.nav-translate{
  transform:translateX(0) !important;
}
