.notification-cont{
  position: fixed;
  width: 100%;
  background-color: #efefef;
  top: 0;
  left: 0;
  height: 100%;
  padding:65px 20px;
  z-index: 3;

  @media(min-width:835px){
      width: 300px;
      height: auto;
      padding: 0;
      position: absolute;
      left: -159px;
      top: 40px;
      padding: 30px 11px;
      border-radius: 8px;
      min-height: 485px;
      box-shadow: 0 3px 8px rgba(0,0,0,0.25);

    &::before{
      content: '';
      display: block;
      position: absolute;
      margin: 0 auto;
      top: -1.9em;
      left: 147px;
      width: 15px;
      height: 15px;
      border-style: solid;

      border-color: transparent transparent #f5f7fa transparent;
      border-width: 15px;
    }
  }
}

.notification-close-img-cont{
  top: 5px;
  right: 19px;
  font-size: 33px;
}
.notification-close-img{
  width:22px;
  position: absolute;
}

.notification-div{
  padding: 20px;
  box-shadow: 0 0 3px grey;
  background-color:#fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

}
.notification-link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 3px grey;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
    font-size:14px;
}
body{
  overflow:hidden;
}
