.notification-cont{
  position: absolute;
  width: 100%;
  background-color: #efefef;
  top: 0;
  left: 0;
  height: 100%;
  padding:65px 20px;
}

.notification-close-img-cont{
  top: 19px;
  right: 39px;
}
.notification-close-img{
  width:22px;
  position: absolute;
}

.notification-div{
  padding: 20px;
  box-shadow: 0 0 3px grey;
  background-color:#fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

}
.notification-link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 3px grey;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
    font-size:14px;
}
body{
  overflow:hidden;
}
