/*inclues but not limited to the following
 *Clearfix
 *colors
 *display
 *embed
 *flex
 *float
 *position
 *shadows
 *sizing
 *spacing
*text transform
*vertical align
*visibility
*/
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.flex-wrap {
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap; }

.justify-content-between {
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between; }

.justify-content-center {
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center; }

.justify-content-around {
  -webkit-justify-content: space-around;
          justify-content: space-around; }

.justify-content-start {
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
          justify-content: flex-start; }

.justify-content-end {
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
          justify-content: flex-end; }

.align-items-baseline {
  -webkit-align-items: baseline;
     -moz-box-align: baseline;
          align-items: baseline; }

.align-items-center {
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center; }

.align-items-end {
  -webkit-align-items: flex-end;
     -moz-box-align: end;
          align-items: flex-end; }

.align-items-start {
  -webkit-align-items: flex-start;
     -moz-box-align: start;
          align-items: flex-start; }

.flex-column {
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column; }

.d-none {
  display: none; }

.d-block {
  display: block; }

.d-inline {
  display: inline; }

.d-grid {
  display: grid; }

.d-flex {
  display: -webkit-flex;
  display: -moz-box;
  display: flex; }

.d-in-block {
  display: inline-block; }

.uppercase {
  text-transform: uppercase !important; }

.capitalize {
  text-transform: capitalize !important; }

.p-static {
  position: static; }

.p-absolute {
  position: absolute; }

.p-relative {
  position: relative; }

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030; }

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1030; }

.m-0 {
  margin: 0; }

.mr-auto {
  margin-right: auto; }

.ml-auto {
  margin-left: auto; }

.mb-25 {
  margin-bottom: 25px; }

.mr-15 {
  margin-right: 15px; }

.p-5 {
  padding: 5px; }

.p-10 {
  padding: 10px; }

.pr-5 {
  padding-right: 5px; }

.w-100 {
  width: 100%; }

.h-100 {
  height: 100%; }

.text-white {
  color: #fff; }

body {
  -webkit-transition: .3s ease-in-out;
     -moz-transition: .3s ease-in-out;
       -o-transition: .3s ease-in-out;
          transition: .3s ease-in-out; }

input {
  -webkit-appearance: none; }

a:hover {
  text-decoration: none; }

button:focus, input:focus {
  outline: none; }

ul, li {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

a {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center; }

.pointer {
  cursor: pointer !important; }

body {
  font-family: "raleway";
  font-weight: 300; }

.header {
  height: 72px;
  background-color: radial-gradient(circle farthest-side at center bottom, rgba(0, 156, 222, 0.8), rgba(0, 48, 135, 0.7) 125%);
  z-index: 20 !important;
  padding: 20px 15px;
  -webkit-transition: background-color .3s ease-in-out;
     -moz-transition: background-color .3s ease-in-out;
       -o-transition: background-color .3s ease-in-out;
          transition: background-color .3s ease-in-out; }
  @media (min-width: 1028px) {
    .header {
      height: 100px; } }

@media (min-width: 1028px) {
  .logo {
    margin: 0; } }

.sublist a {
  color: #fff; }
@media (min-width: 1028px) {
  .sublist {
    display: none;
    margin: 0; } }

.logo-img {
  width: 34px;
  height: 34px; }

.nav {
  background-color: #4c8bc6;
  width: 250px;
  padding: 0 30px 0  20px;
  text-transform: uppercase;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-250px);
     -moz-transform: translateX(-250px);
       -o-transform: translateX(-250px);
          transform: translateX(-250px); }
  @media (min-width: 1028px) {
    .nav {
      background-color: transparent;
      -webkit-transform: translateX(0);
         -moz-transform: translateX(0);
           -o-transform: translateX(0);
              transform: translateX(0);
      position: static;
      height: auto;
      width: 100%;
      height: auto; } }

.nav-list {
  margin-bottom: 20px; }
  @media (min-width: 1028px) {
    .nav-list {
      margin: 0; } }

.nav-link {
  font-weight: 400;
  color: #fff;
  display: block; }
  @media (min-width: 1028px) {
    .nav-link {
      text-transform: capitalize; } }

@media (min-width: 1028px) {
  .nav-ul {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-justify-content: space-around;
            justify-content: space-around;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
            align-items: flex-end; } }

@media (min-width: 1028px) {
  .nav-user {
    display: -webkit-flex;
    display: -moz-box;
    display: flex; } }

.signup {
  color: #fff !important;
  background-color: #ff6814 !important; }

.hamburger {
  padding: 10px;
  width: 84px;
  height: 36px;
  border-radius: 18px;
  border: 2px solid #fff;
  -webkit-order: -1;
     -moz-box-ordinal-group: 0;
          order: -1; }
  @media (min-width: 1028px) {
    .hamburger {
      display: none; } }

.burger-cont {
  width: 15px;
  margin-right: 5px; }

.burger1, .burger2, .burger3 {
  display: block;
  width: 15px;
  height: 2px;
  margin-bottom: 3px;
  border-radius: 1px;
  background-color: #fff;
  -webkit-transition: .1s ease-in-out;
     -moz-transition: .1s ease-in-out;
       -o-transition: .1s ease-in-out;
          transition: .1s ease-in-out; }

.hamburger-text {
  font-size: 13px;
  color: #fff; }

.change.burger1, .change.burger2 {
  position: absolute;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.change.burger3 {
  position: absolute;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg); }

.btn {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  position: relative;
  cursor: pointer;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: .3s ease-out;
     -moz-transition: .3s ease-out;
       -o-transition: .3s ease-out;
          transition: .3s ease-out;
  border: none;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  font-size: 14px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }

.nav-list.signupforfree {
  left: 20px;
  bottom: 10%; }
  .nav-list.signupforfree a {
    width: 192px;
    height: 48px;
    border-radius: 24px !important; }
  @media (min-width: 1028px) {
    .nav-list.signupforfree {
      position: static; } }

@media (min-width: 1028px) {
  .x-login a {
    background-color: #fff;
    color: #000;
    margin-right: 15px; }
    .x-login a:hover {
      color: #2b2b2b; } }

.translate {
  -webkit-transform: translateX(250px);
     -moz-transform: translateX(250px);
       -o-transform: translateX(250px);
          transform: translateX(250px); }
  @media (min-width: 1028px) {
    .translate {
      -webkit-transition: none;
         -moz-transition: none;
           -o-transition: none;
              transition: none;
      -webkit-transform: translateX(0);
         -moz-transform: translateX(0);
           -o-transform: translateX(0);
              transform: translateX(0); } }

.banner-cont {
  position: absolute;
  z-index: -80;
  background-image: url("../images/rasta/background-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

@media (min-width: 1028px) {
  .links-sticky {
    color: #000; }
    .links-sticky:hover {
      color: #000; } }
.header-sticky {
  background-color: #fff;
  box-shadow: #d9d9d9 0px 2px 3px; }

.hamburger-sticky {
  border-color: #000; }

.burger-sticky {
  background-color: #000; }

.hamburger-text-sticky {
  color: #000 !important; }

.control-body {
  overflow: hidden; }

.banner-cont {
  width: 100%;
  max-width: 100%;
  height: 400px; }
  @media (min-width: 1028px) {
    .banner-cont {
      height: 580px; } }

.welc-background {
  background-image: -webkit-radial-gradient(circle farthest-side at center bottom, rgba(0, 156, 222, 0.8), rgba(0, 48, 135, 0.7) 125%);
  background-image: -moz- oldradial-gradient(center bottom, circle farthest-side, rgba(0, 156, 222, 0.8), rgba(0, 48, 135, 0.7) 125%);
  background-image: -o-radial-gradient(circle farthest-side at center bottom, rgba(0, 156, 222, 0.8), rgba(0, 48, 135, 0.7) 125%);
  background-image: radial-gradient(circle farthest-side at center bottom, rgba(0, 156, 222, 0.8), rgba(0, 48, 135, 0.7) 125%); }

.r-f-form {
  margin-top: 40px; }
  @media (min-width: 370px) {
    .r-f-form {
      width: 330px; } }
  @media (min-width: 370px) and (min-width: 500px) {
    .r-f-form {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -160px;
      margin-right: -160px;
      margin-top: -161px;
      margin-bottom: -161px; } }

.form-box {
  color: #9DB2C2;
  width: 100%;
  background-color: #fff;
  border: 1px solid #E1EAF0;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: text;
  width: 100%;
  -webkit-transition: border-left  0.2s linear;
     -moz-transition: border-left  0.2s linear;
       -o-transition: border-left  0.2s linear;
          transition: border-left  0.2s linear; }
  .form-box:focus {
    border-left: 2px solid #ff6814; }

.fieldset {
  margin-bottom: 15px; }

.form-submit {
  background-color: #ff6814;
  color: #fff; }

.form-link {
  height: 44px;
  padding: 15px;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  color: #9e9e9e; }
  .form-link:hover {
    color: #2b2b2b; }

.form-link.active {
  border-radius: 22px;
  color: #fff;
  background-color: #9e9e9e;
  -webkit-transition: color .3s ease-in-out;
     -moz-transition: color .3s ease-in-out;
       -o-transition: color .3s ease-in-out;
          transition: color .3s ease-in-out; }

.form-notice {
  color: #9e9e9e;
  font-weight: 400; }
  .form-notice:hover {
    color: #2b2b2b;
    -webkit-transition: color .3s ease-in-out;
       -moz-transition: color .3s ease-in-out;
         -o-transition: color .3s ease-in-out;
            transition: color .3s ease-in-out; }

.form-box-link {
  height: 46px; }
  .form-box-link:hover {
    border: none; }

.google-img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 6px;
  left: 13%; }

select {
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 100% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline-width: 0;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 10em;
  border: none;
  font-size: 1rem;
  border-bottom: 1px solid #757575; }

.error-img {
  width: 20px;
  height: 20px;
  margin-right: 6px; }

.error {
  color: red !important; }

.error-div {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: baseline;
     -moz-box-align: baseline;
          align-items: baseline;
  margin-bottom: 4px; }

.submit-disabled {
  background-color: #efb696 !important; }

body {
  -webkit-font-smoothing: antialiased; }

.pricing {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-box-pack: center;
       justify-content: center;
  width: 100%;
  margin: 0 auto 3em; }
  .pricing-item {
    position: relative;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
         flex-direction: column;
    -webkit-align-items: stretch;
    -moz-box-align: stretch;
         align-items: stretch;
    text-align: center;
    -webkit-flex: 0 1 330px;
    -moz-box-flex: 0;
         flex: 0 1 330px; }
  .pricing-action {
    color: inherit;
    border: none;
    background: none; }
    .pricing-action:focus {
      outline: none; }

.pricing-feature-list {
  text-align: left; }

.pricing-palden .pricing-item {
  cursor: default;
  color: #84697c;
  background: #fff;
  box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
  border-radius: 20px 20px 10px 10px;
  margin: 1em; }

@media screen and (min-width: 66.25em) {
  .pricing-palden .pricing-item {
    margin: 1em -0.5em; }

  .pricing-palden .pricing__item--featured {
    margin: 0;
    box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
    font-weight: 400; } }
.pricing-palden .pricing-deco {
  border-radius: 10px 10px 0 0;
  background: #ff6814;
  padding: 4em 0 9em;
  position: relative; }
.pricing-palden .pricing-deco-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 160px; }
.pricing-palden .pricing-title {
  font-size: 0.75em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff; }
.pricing-palden .deco-layer {
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
       transition: transform 0.5s; }
.pricing-palden .pricing-item:hover .deco-layer--1 {
  -webkit-transform: translate3d(15px, 0, 0);
  -moz-transform: translate3d(15px, 0, 0);
       transform: translate3d(15px, 0, 0); }
.pricing-palden .pricing-item:hover .deco-layer--2 {
  -webkit-transform: translate3d(-15px, 0, 0);
  -moz-transform: translate3d(-15px, 0, 0);
       transform: translate3d(-15px, 0, 0); }
.pricing-palden .icon {
  font-size: 2.5em; }
.pricing-palden .pricing-price {
  font-size: 5em;
  font-weight: bold;
  padding: 0;
  color: #fff;
  margin: 0 0 0.25em 0;
  line-height: 0.75; }
.pricing-palden .pricing-currency {
  font-size: 2rem;
  vertical-align: top; }
.pricing-palden .pricing-period {
  font-size: 0.15em;
  padding: 0 0 0 0.5em;
  font-style: italic; }
.pricing-palden .pricing__sentence {
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 0 0 0.5em; }
.pricing-palden .pricing-feature-list {
  margin: 0;
  padding: 0.25em 0 2.5em;
  list-style: none;
  text-align: center; }
.pricing-palden .pricing-feature-tr {
  display: -webkit-flex;
  display: -moz-box;
  display: flex; }
.pricing-palden .pricing-feature {
  padding: 10px; }
  .pricing-palden .pricing-feature.l {
    margin-right: auto; }
.pricing-palden .pricing-action {
  font-weight: bold;
  margin: auto 3em 2em 3em;
  padding: 1em 2em;
  color: #fff;
  border-radius: 30px;
  background: #ff6814;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
       transition: background-color 0.3s; }
  .pricing-palden .pricing-action:hover, .pricing-palden .pricing-action:focus {
    background-color: #100A13; }

.pricing-palden .pricing-item--featured .pricing-deco {
  padding: 5em 0 8.885em 0; }

.section-head {
  font-size: 3.5rem;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize; }

@media (min-width: 720px) {
  .steps {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
            align-items: flex-end; } }

.steps-img {
  width: 90px;
  height: 90px; }

.steps-name {
  font-size: 1.4rem; }

.steps-description {
  font-weight: 400; }

.background-text-cont {
  top: 110px; }

.background-head {
  font-size: 2rem; }
  @media (min-width: 620px) {
    .background-head {
      font-size: 3rem; } }

.learn-more {
  margin-top: 28px;
  width: 200px;
  background-color: #fff;
  color: #000; }

@media (min-width: 620px) {
  .background-description {
    max-width: 555px;
    font-size: 1.4rem; } }
