.features{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media(min-width:850px){
    flex-direction: row;
  }
}
.feature-gradient{
  background-image:linear-gradient(to right, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
}
.feature-cont{
  margin-bottom:60px;
  @media(min-width: 850px){
    width:50%;
    max-width:50%
  }
  @media(min-width: 850px){
    width:33.3333%;
    max-width:33.3333%
  }

}
.feature-head{
  font-size:1.8rem;
}
.feature{
  display:flex;
}
.feature-head{
  padding-left:13px;
}
.feauture-text{
  padding:15px;
}
.feature-img{
  font-size:80px;
}
.f-3{
  font-size:3rem;
}
