
.packages-cont{
  flex-direction: column;

  @media(min-width:862px){
    flex-direction: row;
  }
}

.package-cont{
  @media(min-width:862px){
    padding:0 20px;
    width:33.333%;
  }
}
.package{
  box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
  padding:15px;
  margin-bottom:30px;
}
.package-title{
  font-size:2rem;
}
.package-row{
  margin-bottom:10px;
  display:flex;
  align-items: center;
  border-bottom: 1px solid #e8e0e0;
   & span{
     padding:10px 0;
   }
  & span:first-of-type{
    margin-right:auto;
  }
  & span:nth-of-type(2){
    text-align: right;
  }
}
