
.section-head{
  font-size:3.5rem;
  font-weight:400;
  text-align: center;
  text-transform: capitalize;
}
.steps{
  @media(min-width: 720px){
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.steps-img{
  width:90px;
  height:90px;
}
.steps-name{
  font-size:1.4rem;
}
.steps-description{
  font-weight:400;
}
