
html{
  overflow: hidden;
}
body{
  transition:.3s ease-in-out;
}
a:hover{
  text-decoration:none;
  color:#fff;
}
button:focus{
  outline:none;
}
ul,li{
  margin:0;
  padding:0;
}
li{
  list-style-type:none;
}

.pointer{
  cursor:pointer;
}
