
html{

}
body{
   overflow-x:hidden;
}
input{
  -webkit-appearance: none;
}
a:hover{
  text-decoration:none;
}
button:focus,input:focus{
  outline:none;
}
ul,li{
  margin:0;
  padding:0;
}
li{
  list-style-type:none;
}

a{
  display:flex;
  align-items: center;
}
.pointer{
  cursor:pointer !important;
}
