<%-include('../account/header');-%>
<%-include('../account/nav');-%>


<div class="row grid-margin">
  <div class="card card-statistics w-100">
    <div class="card-body">
      <h4>Recent activity</h4>
      <p>We didn't find any activity</p>
    </div>
  </div>
</div>


<%# <div class="row grid-margin">
  <div class="card card-statics">
    <div class="card-body">

        <h4 class="mr-3">Oct 11</h4>
        <div class="">
          You have have recived an amount of $50.00 in your account
        </div>

    </div>
  </div>
</div> %>




<%-include('../account/footer');-%>
