.footer{
  padding: 50px 50px;
  background-color: #3d5afe;

 ul{
   margin:0;
   padding:0;
 }
  a{
    color:#fff !important;
    font-size:1.4em;
  }
}

.payment-img-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg{

    @media(min-width:760px){
      width:70px;
      height:70px;
    }
    width:40px;
    height:40px;
  }
}

.footer{
  .contact{
    margin-top:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p{
      color:#fff !important;
      font-size:1.4em;
    }
  }
}
