<%-include('../account/header')%>



<div class="row gap-20 masonry pos-r">

  <div class="masonry-item col-md-12">
    <div class="bgc-white p-20 bd">

        <h3 class="text-center">Choose an Investment package</h3>

    </div>
  </div>







    <div class="masonry-sizer col-md-6"></div>
    <div class="masonry-item  w-100">
      <div class="row gap-20">
        <!-- #Toatl Visits ==================== -->
        <div class='col-md-4'>
          <div class="layers bd bgc-white p-20">
            <div class="layer w-100 mB-10">
              <h5 class="text-center">Gold</h5>
            </div>

            <div class="d-flex w-100">
              <p class="mr-auto">Minimum</p>
              <p>$250.00</p>
            </div>
             <div class="divider">

             </div>
            <div class="d-flex w-100">
              <p class="mr-auto">Maximum</p>
              <p>$1500.00</p>
            </div>

            <div class="d-flex w-100">
              <p class="mr-auto">Weekly Profit</p>
              <p>5%</p>
            </div>
            <div class="d-flex w-100">
              <p class="mr-auto">Withdrawal</p>
              <p>Every two weeks</p>
            </div>

            <div class="w-100">
              <button type="button" class="btn btn-success w-100" id="goldBtn">Apply</button>
            </div>
          </div>
        </div>


        <div class='col-md-4'>
          <div class="layers bd bgc-white p-20">
            <div class="layer w-100 mB-10">
              <h5 class="text-center">Diamond</h5>
            </div>

            <div class="d-flex w-100">
              <p class="mr-auto">Minimum</p>
              <p>$1600.00</p>
            </div>

            <div class="d-flex w-100">
              <p class="mr-auto">Maximum</p>
              <p>$3000.00</p>
            </div>

            <div class="d-flex w-100">
              <p class="mr-auto">Weekly Profit</p>
              <p>5.5%</p>
            </div>
            <div class="d-flex w-100">
              <p class="mr-auto">Withdrawal</p>
              <p>Every two weeks</p>
            </div>

            <div class="w-100">
              <button type="button" class="btn btn-success w-100" id="diamondBtn">Apply</button>
            </div>
          </div>
        </div>


        <div class='col-md-4'>
          <div class="layers bd bgc-white p-20">
            <div class="layer w-100 mB-10">
              <h5 class="text-center">Platinum</h5>
            </div>

            <div class="d-flex w-100">
              <p class="mr-auto">Minimum</p>
              <p>$3500.00</p>
            </div>

            <div class="d-flex w-100">
              <p class="mr-auto">Maximum</p>
              <p>$5000.00</p>
            </div>

            <div class="d-flex w-100">
              <p class="mr-auto">Weekly Profit</p>
              <p>6%</p>
            </div>
            <div class="d-flex w-100">
              <p class="mr-auto">Withdrawal</p>
              <p>Every two weeks</p>
            </div>

            <div class="w-100">
              <button type="button" class="btn btn-success w-100" id="platinumBtn">Apply</button>
            </div>
          </div>
        </div>



      </div>
    </div>









</div>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<%-include('../account/footer')%>
