
//================display================//
.d-none{
  display:none;
}

.d-block{
  display:block;
}
.d-inline{
  display:inline;
}
.d-grid{
  display:grid;
}
.d-flex{
  display:flex
}
.d-in-block{
  display:inline-block;
}




//======================text transform ==============//
.uppercase{
  text-transform:uppercase !important;
}
.capitalize{
  text-transform:capitalize !important;
}
