//==============For Position=====================//
.p-static{
  position:static;
}

.p-absolute{
  position:absolute;
}

.p-relative{
  position:relative;
}



//================Utilities for position========================//
.fixed-top{
  position:fixed;
  top:0;
  left:0;
  z-index:$zindex-fixed;
}

.fixed-bottom{
  position:fixed;
  bottom:0;
  left:0;
  z-index:$zindex-fixed;
}
