// color variables
$color-primary  : #7370f5;


//font-family variables
$raleway:  "raleway";






//font-weights
$font-weight-light         : 300;
$font-weight-normal        : 400;


//break-point variables
$breakpoint-nav               :1028px;
