// color variables
$color-primary  : #2cdaba;


//font-family variables
$open-sans-light:  "open sans",sans-serif;


//break-point variables



//font-weights
$font-weight-light         : 300;
$font-weight-normal        : 400;
