// color variables
$color-primary  : radial-gradient(circle farthest-side at center bottom, rgba(0, 156, 222, .8), rgba(0, 48, 135, .7) 125%);
$color-accent    : #ff6814 ;
$color-accent-hover:#d2540e;
//font-family variables
$raleway:  "raleway";






//font-weights
$font-weight-light         : 300;
$font-weight-normal        : 400;


//break-point variables
$breakpoint-nav               :1028px;
