$new-primary-color: #232392;
.dropdown-note{
  position:fixed;
  background-color:#fff;
  width:100%;
  transition: .3s ease-in-out;
  transition-property: transform;
  height:100%;
  z-index:400;
  top:0;
  left:0;

  &.isClosed{
      transform:translateX(-100%);
  }

  @media(min-width:700px){
    position: absolute !important;
    width:404px;
    height:323px;
    overflow:auto;
    position:absolute;
    box-shadow: 0 20px 66px 0 rgba(34,48,73,0.2);
    background-clip: padding-box;
    left: -376px;
    top: 24px;
    display: none;

      .dropdown-arrow-cont{
        z-index: 20;
        display:none;
      }
      .dropdown-note-title{
        display:none;
      }

      &.isClosed{
          transform:translateX(0) !important;
      }

      &.desktopisOpened{

      @media(min-width:700px){
        display:block !important;
        animation-name: desktopisOpened;
        animation-fill-mode: backwards;
        animation-delay: .1s;
        animation-timing-function: ease-in-out;
      }

      @keyframes desktopisOpened{
        0%{

          opacity:.3
        }
        30%{
          opacity: .6;
        }
        90%{opacity: .9}
        100%{opacity: 1}
      }
      }

  }


  .dropdown-note-cont{
    padding:10px;
  }
  .dropdown-arrow-cont{
   padding:10px;
    svg{
      fill: $accent-color;
      width:30px;
      height:30px;
      cursor:pointer;
    }
  }

  .dropdown-note-title{
    padding:10px;
    margin-bottom:10px;
    font-size:2em;
    color:$new-primary-color;
  }
}

.dropdown-note{


  .notification{
    color:#2b2b2b !important;
    display: inline-block;

    &:hover{
      text-decoration: none;
      background-color:#eee;
    }

    padding:12px;
    transition: .3s linear;
    transition-property: background-color;
    opacity: 0.5;


  }

  .notification-body{

  }

  .notification-title{

  }

  .notification-head{
    display:flex;
    align-items: center;
    .notification-title{
      margin-right:auto;
      font-weight: bold;
    }
  }
}


//====================for settings===============//
.dropdown-note{


  .settings-body{

    .profile-cont{
      padding:15px;
      svg{
        fill:#737373;
        width:40px;
        height:40px;
      }
    }

    .name{
      font-size: 1.6em;
      color:$new-primary-color;
      margin-bottom:30px;
      padding:15px;

    }
  }

  .settings-actions{

    .setting-action{
      display: flex;
      align-items: flex-start;
      border-top:1px solid  #e2e6e8;
      padding:15px;
      transition: .3s linear;
      transition-property:background-color;
      &:last-of-type{
        border-bottom:1px solid  #e2e6e8;
      }
      &:hover{
        background-color:#eee;
      }

    }
    .setting-action-icon{


      svg{
        fill:$new-primary-color;
        width:20px;
        height:20px;
      }
    }
    .setting-action-text{
      color:$new-primary-color;
    }
  }
}

.dropdown-note.setting{


  @media(min-width:700px){
    width:280px;
    left: -240px;
    top: 41px;
  }

}
