body{
  font-family: "Work Sans"
}
$color-primary  : radial-gradient(circle farthest-side at center bottom, rgba(0, 156, 222, .8), rgba(0, 48, 135, .7) 125%);
$color-accent    : #ff6814 ;
$color-accent-hover:#d2540e;
.header{
  width:100%;
  height:70px;
  background-color:#3d5afe;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display:flex;
  align-items: center;
  padding: 0 25px;

  @media(min-width:760px){
    position:fixed;
    width:100vw;
    background-color:#fff;
  }
}

input[type="checkbox"]{
  display:none;
}

.burger-label{
  margin-right:auto;
}
.burger{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor:pointer;

  @media(min-width:760px){
     display:none;
  }

   .burger-bar{
     width: 26px;
     height: 3px;
     background-color: #fff;
     margin-bottom: 5px;
     border-radius: 2px;

    &:last-child{
      margin-bottom:0;
    }
  }
}

.sidebar{
  width:100%;
  position:fixed;
  top:0;
  left:0;
  display:flex;

  transform:translateX(-100%);

  @media(min-width:760px){
     transform:translateX(0) !important;
     width:264px !important;
  }
}
.sidebar-cont{

  flex: 1 60%;
  height:100vh;
  padding:0;
  padding-top:80px;
  list-style-type: none;
  background-color:#3d5afe;
  overflow: scroll;

  .sidebar-img{
    margin-right:15px;
    display:flex;
    align-items: flex-start;
    svg{
      width:20px;
      height:20px;
      fill:#dedede;
    }
  }

  .sidebar-link-test{
    display:flex;
    color:#fff;
    justify-content: center;
    align-items: flex-start;

  }
}
.sidebar-list{

}
.sidebar-link{
  display:flex;
  align-items: center;
  height:42px;
  padding:0 30px;
  width:100%;
  text-decoration:none;


  &.active{
    background-color:#1515d6;
    border-left: 2px solid $color-accent;

    & svg{
      fill:$color-accent;
    }
    .sidebar-link-test{

      color:$color-accent;
    }
  }

  &:hover{
    text-decoration:none;
  }
  &:hover >.sidebar-link-test{
    transition: .3s ease-in-out;
    transition-property: color;
      color:$color-accent;
    }
  &:hover  svg{
    transition: .3s ease-in-out;
    transition-property: fill;
      fill:$color-accent ;
    }
}

.sidebar-close-cont{
  flex: 1 40%;
  height:100vh;
  background-color:rgba(0,0,0,0.2);
  position:relative;

  @media(min-width:760px){
    display:none !important;
  }

}

.sidebar-check:checked ~ .sidebar{
  transition: .3s ease-in-out;
  transition-property: transform;
  transform: rotateX(0);

}



.header-action{
  display:flex;
  justify-content: center;
  align-items: center;

  .header-action-notication{
    cursor:pointer;
     svg{
       fill:#fff;
       width:23px;
       height:23px;

       @media(min-width:760px){
         fill: $color-accent !important;
       }
     }
  }

  .header-action-profile{
    cursor:pointer;
    margin-left:20px;
    svg{
      width:40px;
      height:40px;
      fill:#fff;

      @media(min-width:760px){
        fill: #d0d0d0 !important;
      }
    }
  }
}

.sidebar-close{
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 30px;
  left: 27px;
  span{
    width:27px;
    height:3px;
    border-radius:1.5px;
    background-color:$color-accent;
    &:first-child{
      transform: rotate(45deg) translate(7px,7px);
    }
    &:nth-child(2){
      transform: rotate(-45deg) translate(-5px,5px);
    }
  }
}
