.header{
  height:70px;
  width:100%;
  background: $primary-color;
  position:relative;
  display: flex;
  justify-content: center;
  align-items:center;

  .header__cont{
    height:70px;
    width:100%;
    display: flex;
    align-items: center;
    max-width:1136px;
  }
}



/*********header__burger***/
.header__burger{
  height:100%;
  width:60px;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor:pointer;
  margin-right:auto;




  .header__burger--bar{
    width:25px;
    height:2px;
    background-color:#fff;
    margin-bottom: 6px;
    border-radius: 1;

    &:last-of-type{
      margin-bottom:0;
    }
  }
}

.header__icon{
  height:100%;
  display:flex;
  padding: 0 22.5px;
  .icon{
    height:100%;
    cursor:pointer;


    .icon--cont{
      height:100%;
      width:50px;
      display: flex;
      justify-content: center;
      align-items: center;

      /*****icon notification*/
      &.notification{
        svg{
          fill:#fff;
          width:24px;
          height:24.48px;
        }
      }

      &.profile{

        .background{
          display: flex;
          justify-content: center;
          align-items: center;
          background-color:#fff;
          width:40px;
          height:40px;
          border-radius:50%;
          z-index: 1;

        }
        svg{

          width:25px;
          height:25px;
          z-index: 2;

        }
      }


    }


  }
}
