
body{
  font-family: "PT Sans",sans-serif !important;
}



$primary-color : #3d5afe;
$accent-color    : #ff6814 ;
$color-accent-hover:#d2540e;

.section-title{
  margin:0;
  color:#6f6f6f;
}
.notification-top-bar{
  display: flex;
  padding:15px;
  font-size: .9em;
  text-align: justify;


   @media(min-width: 760px){
     position: fixed;
   }
  .notice{
   margin-bottom: 0;
  }

  .close-label{
    cursor: pointer;
    height: 100%;
    width:60px;
    margin-left:10px;
    font-size: 2.2em;
    color:blue;

  }
}

#topNotificationBar[type="checkbox"]:checked ~ .notification-top-bar{
  display: none;

}

.modal{
  background: rgba(255,255,255,0.9) !important;
}

.container{
  max-width:1136px !important;
  height:100vh;
}
//********************************background colors ***********************//
.bg-default{
  background-color: #f2f5f7;
}
