

.profile-dropdown{
  transform:none !important;
  top:-2px !important;
  left:-88px !important;

  &::after{
    border-top: 0 !important;
  }
}
.dropdown-toggle::after{
  border-top:0 !important;
}

.profile-dropdown{
  i{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-right: 15px;
  }
  svg{
    width: 17px;
    height: 26px;
  }
}

a{
  &:hover{
    text-decoration:none;
  }
}
.notification-head{
  display:flex;
  color:#212529;
}
.notification-title{
  margin-right:auto;
}
.notification-message{
  color:#777777
}

a.notification{
  display: block;
    border: 1px solid #dadada !important;
    padding: 12px;
    border-radius: 8px;
    transition:.3s ease-out;
    transition-property: background-color;
    &:hover{
      background-color:#f9f9f9;
    }
}
