.settings{
  height:112px;
  width:100%;
  display: flex;
  align-items: center;
  border-bottom:1px solid #eee;
}


.settings--icon{
  width:48px;
  height:48px;
  border-radius: 50%;
  background-color:#e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right:25px;
  &.profile{
    svg{
      width:30px;
      height:22.5px;
    }
  }

  &.password{
    svg{
      width:25px;
      height:25px;
    }
  }
}

.settings--text{
  margin-right:auto;
  .settings--text__head{
    font-size: 1.4em;
    font-weight: bold;

  }
  .settings--text__desc{
    color:#757575;
    text-transform:capitalize;
  }
}
.settings--action{
  cursor: pointer;
    color: #0072ff;
    font-weight: bold;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}
